<% start_date = params.fetch(:event_date, Time.now.utc.to_date) %>
<% start_time = params.fetch(:start_time, Time.now.utc.to_time) %>
<% duration = params.fetch(:duration, 60) %>
<% if user_signed_in? %>
    <button id="btn-hookup-new">New Hookup</button>
    <br>
    <br>
    <div >
      <%= form_tag({controller: "hookups", action: 'create'}, method: 'post', class: 'form-vertical', id: 'form-hookup-create', style: 'display: none') do %>

          <%= label_tag 'Descriptive Title', 'Descriptive Title', :class => 'control-label' %>
          <%= text_area_tag 'title', '', id: 'title_field' %>

          <div class="form-group event_date">
            <%= label_tag 'start_date', 'Start Date', :class => 'control-label' %>
            <%= text_field_tag 'start_date', format_datepicker(start_date), style: 'width:auto;', :class => 'form-control datepicker' %>
          </div>

          <div class="form-group event_time">
            <%= label_tag 'start_time', "Start Time in UTC", :class => 'control-label' %>
            <%= text_field_tag 'start_time', format_timepicker(start_time), style: 'width:auto;', class: 'form-control timepicker' %>
          </div>

          <div class="form-group event_time" style='display: block;'>
            <%= label_tag :duration, "Duration (in minutes)", :class => 'control-label' %>
            <%= number_field_tag 'duration', duration, { style: 'width:auto;', value: duration } %>
          </div>
          <br>
          <%= submit_tag "Create", class: 'btn btn-primary' %>
          <button id="btn-cancel-new" class="btn btn-default">Cancel</button>
      <% end %>
    </div>
<% end %>
<h2>Active Hookups</h2>
<% if @active_pp_hangouts.present? %>
    <table id="active_hookups" class='hookups_table'>
      <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>Actions</th>
      </tr>
      <% @active_pp_hangouts.each do |hangout| %>
          <tr>
            <td><%= hangout.title %></td>
            <td><%= format_date(hangout.start_datetime) %></td>
            <td><%= format_time(hangout.start_datetime) %></td>
            <td id="join">
              <%= link_to 'Join', hangout.hangout_url %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>
<h2>Pending Hookups</h2>
<% if @pending_hookups.present? %>
    <table id="pending_hookups" class='hookups_table'>
      <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>Time range</th>
        <th>Actions</th>
      </tr>
      <% @pending_hookups.each do |hookup| %>
          <tr>
            <td><%= hookup.name %></td>
            <td><%= format_date(hookup.start_datetime) %></td>
            <td><%= format_time_range(hookup) %></td>
            <% if user_signed_in? %>
                <td id="start">
                  <%= link_to 'Create Hangout', event_path(hookup) %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>
