<div class='row'><%= hangout.title %> </div>
<div class='row'><%= hangout.category %> </div>
<div class='row'>
  <span class="float-right"><%= hangout.created_at %></span>
  <span><%= hangout.duration %> </span>

  <% if hangout.participants.length > 0 %>
    <% hangout.participants.each do |participant| %>
      <%= render 'users/user_avatar', user: participant %>
    <% end %>
  <% end %>
</div>
