<div class="container">
  <div class="row">
    <div class="col-xs-11 col-sm-offset-1 col-xs-offset-0">
      <%= devise_error_messages_flash %>
      <h2>Account details for <%= user_details(@user) %></h2>
    </div>
  </div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
    <% present resource do |presenter| %>
      <div class="col-md-3 col-md-offset-1">
        <%= presenter.gravatar_image(size: 120, class: 'thumbnail img-rounded', style: 'margin-right: 10px') %>
        <%= link_to 'Change your avatar', 'http://en.gravatar.com/emails/', target: '_blank' %>
        <div class="checkbox">
          <%= f.label :display_profile, "#{f.check_box(:display_profile)} Make profile public".html_safe %>
        </div>
        <div class="checkbox">
          <%= f.label :display_email, "#{f.check_box(:display_email)} Make email public".html_safe %>
        </div>
        <div class="checkbox">
          <%= f.label :display_hire_me, "#{f.check_box(:display_hire_me)} Show hire me button".html_safe %>
        </div>
        <div class="checkbox">
          <%= f.label :receive_mailings, "#{f.check_box(:receive_mailings)} Receive site emails".html_safe %>
        </div>
        <!-- Fix below, which causes update to fail: 
        <% supported_third_parties.each do |provider| %>
            <%= social_button provider, url: edit_user_registration_path(resource), delete: resource.has_auth(provider) %>
        <% end %>
        -->
        <%= link_to 'Deactivate Account', '#',
                    data: {toggle: 'modal',
                           target: '#myDestroyModal'},
                    class: 'user-profile-btn',
                    type: 'button' %>
      </div>
      <div class="col-md-5 ">
        <div><%= f.label :first_name %>
          <div class="form-group">
            <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
          </div>
        </div>

        <div><%= f.label :last_name %>
          <div class="form-group">
            <%= f.text_field :last_name, :autofocus => true, class: 'form-control' %>
          </div>
        </div>

        <div><%= f.label :email %>
          <div class="form-group">
            <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
          </div>
        </div>

        <div><%= f.label :skills, 'Skills - (separate with comma)' %>
          <div id="skills" class="tag-list" style="margin-bottom: 10px;"
            data-skill-list="<%= resource.skill_list.to_json %>"></div>
            <%= f.text_field :skill_list, hidden: true  %>
        </div>

        <div><%= f.label :bio %>
          <div class="form-group">
            <%= f.text_area :bio, :autofocus => true, class: 'form-control', 'rows' => 10 %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <%= link_to 'Cancel', user_path(presenter.user), :class => 'btn btn-default' %>
          <%= f.submit 'Update', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  <% end %>
  <!-- HIDDEN TILL ORPHAN DOCUMENTS CAN BE RESOLVED
  <hr />
  <div class="row">
    <div class="col-md-5 col-md-offset-4 user-cancel-account">
      <h4>Danger Zone</h4>
      <p>Unhappy? You will be sorely missed...</p>
      <%= button_to 'Cancel my account', registration_path(resource_name),
                    :data => {:confirm => 'Are you sure?'}, :method => :delete,
                    :class => 'btn btn-danger btn-small' %>
      </div>
  </div>
  -->
  <style>
      .tag a {
          line-height: 15px;
      }
  </style>
</div>

<%= render 'devise/registrations/destroy_modal' %>
