<div class="container">
<div class="col-md-5 col-md-offset-2">
  <h1 class="text-center"> Sign up </h1>
  <% if resource.password_required? %>
      <div class="row">
        <% supported_third_parties.each do |provider| %>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <%= social_button provider, extra_class: 'btn-lg' %>
            </div>
        <% end %>
      </div>
  <% end %>
  <h4 class="text-center">Already a member? <%= link_to "Sign in", new_session_path(resource_name) %></h4>
  <h4 class="text-center"><%= link_to "Forgot your password?", new_password_path(resource_name) %></h4>

  <% unless Features.email_registrations.enabled %>
    <p><small>Email Registrations are temporarily disabled.  Please sign up via Github above.</small></p>
  <% else %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <fieldset>
          <div class='form-group'>
            <%= f.email_field :email, autofocus: true, placeholder: 'Enter email', class: 'form-control input-lg' %>
          </div>
          <% if resource.password_required? %>
              <div class='form-group'>
                <%= f.password_field :password, placeholder: 'Enter password', class: 'form-control input-lg' %>
              </div>
              <div class='form-group'>
                <%= f.password_field :password_confirmation, placeholder: 'Repeat password', class: 'form-control input-lg' %>
              </div>
          <% end %>
          <div class='form-group'>
            <%= f.submit 'Sign up', class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        </fieldset>
    <% end %>
  <% end %>
  <%= devise_error_simple_message %>
  <p>
    <small>By registering, you understand that we will store and make use the information provided in accordance with
      our Privacy statement.
    </small>
  </p>
</div>
</div>
