    <li>
      <section id="landing-projects" class="landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8 pull-right">
            <h2>Move Beyond Tutorials</h2>
            <p>
              Are you tired of toy projects, tutorials and pre-recorded videos in online courses?
            </p>
            <%= image_tag 'lady-dev.svg', class: 'img-responsive'%>
            <p>Our teams of developers range from senior software architects and mid-level developers, to junior programmers and students of computer science.</p>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section id="landing-learning" class="landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8">
            <h2>Coding is not a solo gig!</h2>
            <p>
              Work in teams and meet other people. All online.
            </p>
            <%= image_tag 'standups.svg', class: 'img-responsive'%>
            <p>Take part in Live coding sessions on learn by observing other developers work on Twitch. </p>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section id="landing-community" class="landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8 pull-right">
            <h2>Join real project teams!</h2>
            <p>
              Satisfy real charity customers with open source code for great causes around the world.
            </p>
            <%= image_tag 'real-projects.svg', class: 'img-responsive'%>
            <p>
              We follow the Agile approach to software development and believe that great software comes from good practices, tools and methods: industry wide best practices, rapid prototyping, test-driven development and a user oriented approach to design. 
            </p>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section id="landing-open-source" class="landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8">
            <h2>Never code alone</h2>
            <p>An individual journey you experience with other people </p>
            <%= image_tag 'runners.svg', class: 'img-responsive'%>
            <p>
              We are in the process of rebuilding the community and launching new initiatives to help our members grow. The commitment to Open Source and Open Development Process is what makes Agile Ventures unique            
            </p>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section id="landing-community" class="landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8 pull-right">
            <h2>Build a career</h2>
            <p>
              Get compensated for work you put on paid projects, and many other alumni have gone on to great things in the wider world.
            </p>
            <%= image_tag 'jobs.svg', class: 'img-responsive'%>

            <% if @current_user %>
              <a href="/users/sign_up" class="btn btn-primary btn-block call-to-action " style="margin: auto; margin-bottom: 10px; margin-top: 20px;"><span>Sign Up Now</span></a>
            <% else %>
              <a href="<%= static_page_path('Getting started')%>" class="btn btn-primary btn-block call-to-action " style="margin: auto; margin-bottom: 10px; margin-top: 20px;"><span>Get Started</span></a>
            <% end %>
          </div>
        </div>
      </section>
    </li>
