<% provide :title, 'Home' %>
<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body lang="en-GB">

<%= render 'layouts/navbar' %>


<div id="main" class="container-fluid" style="padding: 0">
  <ul id="section-list">
    <li>
      <section class="landing-page-section" id="top-content">
        <div class="container">
          <div class="section-well">
            <%= render 'layouts/round_banners' %>
          </div>
        </div>
      </section>
    </li>
  </ul>
</div>
<% if current_user && current_user.incomplete? && new_user_session_url == request.referrer %>
  <%= render 'layouts/require_users_profile' %>
<% end %>
  <%= render 'text_and_image_trail' %>
  <%= render 'layouts/cookies_banner' if session[:cookies_accepted].nil? %>
  
<footer id="footer">
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
