<% provide :title, 'Home' %>
<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body lang="en-GB">

<div id="top-content-wrapper">
  <%= render 'layouts/navbar' %>
  <div class="container-fluid" id="top-content">
    <div class="col-sm-9" id="top-content-left">
      <h1>Agile Ventures</h1>
      <h2>Crowdsourced Learning</h2>
    </div>
    <div class="col-sm-3" id="top-content-right">
      <ul id="top-content-list">
        <li><%= @projects_text %></li>
        <li><%= @members_text %></li>
        <li>
          <% if @event.present? %>
            <%= link_to @event['name'], event_path(@event['id']) %> in <%= display_countdown(@event) %>
          <% else %>
            No event found, create one <%= link_to 'here', events_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<section id="footer">
  <%= render 'layouts/footer' %>
</section>

</body>
</html>
