<% provide :title, 'Home' %>
<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body lang="en-GB">

<%= render 'layouts/navbar' %>

<div id="main" class="container-fluid" style="padding: 0">
  <ul id="section-list">
    <li>
      <section class="row landing-page-section" id="top-content">
        <div class="container">
          <div class="section-well">
            <%= render 'layouts/round_banners' %>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section id="landing-projects" class="row landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8 pull-right">
            <h3>We are a</h3>
            <h2>Project Launch Pad</h2>
            <p>
              AgileVentures is the perfect place to kick-start a project. Our system of openness and lack of hierarchy
              means anybody can start a project. In fact, many of our current projects were initiated by our own
              members!
            </p>
            <div class="landing-CTA">Get started with our <%= link_to 'Projects', projects_path %></div>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section id="landing-learning" class="row landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8">
            <h3>We promote</h3>
            <h2>Crowdsourced Learning</h2>
            <p>
              By crowd-sourcing our projects, we attract developers from diverse backgrounds: students, freelancers,
              designers, teachers, and many more from all corners of the globe. Our members are driven by their
              passion to learn code and make a contribution to society.
            </p>
            <div class="landing-CTA">Check out our <%= link_to 'Members', users_path %></div>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section id="landing-community" class="row landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8 pull-right">
            <h3>We practice</h3>
            <h2>Social Coding</h2>
            <p>
              We have regular daily meetings (scrums) online where our members get together, discuss projects, share
              knowledge and plan programming sessions. We love pair programming, nobody works alone in this community!
            </p>
            <div class="landing-CTA">Find upcoming <%= link_to 'Events', events_path %></div>
          </div>
        </div>
      </section>
    </li>

    <li>
      <section id="landing-open-source" class="row landing-page-section">
        <div class="container">
          <div class="section-well col-sm-8">
            <h3>We love</h3>
            <h2>Open Source</h2>
            <p>
              We love all things Open Source, we are fully transparent in our development process, we record videos
              of all our meetings through Google+ Hangouts, our code is freely available on the web on GitHub and
              our project plans are publicly viewable on Pivotal Tracker.
            </p>
            <div class="landing-CTA">Check us out on <a href="https://github.com/AgileVentures" target="_blank">GitHub</a></div>
          </div>
        </div>
      </section>
    </li>
  </ul>
</div>

<footer id="footer">
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
