<% provide :title, 'Home' %>
<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>

<div id="top-content-wrapper">
  <%= render 'layouts/navbar' %>

  <div id="top-content">
    <div id="top-content-left">
      <h1>Agile Ventures</h1>
      <h2>Crowdsourced Learning</h2>
    </div>
    <div id="top-content-right">
      <ul>
        <li><%= @projects_count %></li>
        <li><%= @members_count %></li>
        <li><%= @event %></li>
      </ul>
    </div>
  </div>
</div>
<section id="footer">
  <%= render 'layouts/footer' %>
</section>

</body>
</html>
