<section class="article-full">
  <div id="doc-box">
    <h1><%= article.title %></h1>

    <% if user_signed_in? && !article.new_record?  %>
      <ul class="user-controls">
        <li>
          <%= custom_css_btn 'edit article', 'fa fa-pencil-square-o', edit_article_path(article) %>
        </li>
      </ul>
    <% end %>

    <ul style="list-style: none; padding-left: 0">
      <li>Created on <%= article.created_at.strftime('%d %B %y') %> by <%= link_to author.display_name, user_path(author) %></li>
      <li>Last updated <%= time_ago_in_words(article.updated_at) %> ago</li>
      <li><%= link_to_tags(article.tag_list) %></li>
      <li>Votes:&nbsp;<span class="badge vote"><%= article.vote_value %></span>
      <% if (user_signed_in? && !article.new_record? ) && !article.authored_by?(current_user) %>
        <% visitor_has_voted = current_user.voted_as_when_voted_for article %>
        <% if visitor_has_voted == nil %>
          <%= custom_css_btn 'Up Vote', 'fa fa-arrow-up vote_button', upvote_article_path(@article) %>
          <%= custom_css_btn 'Down Vote', 'fa fa-arrow-down vote_button', downvote_article_path(@article) %>
        <% elsif visitor_has_voted == true %>
          <%= custom_css_btn 'Cancel Up Vote', 'fa fa-undo vote_button', cancelvote_article_path(@article) %>
          <%= custom_css_btn 'Down Vote', 'fa fa-arrow-down vote_button', downvote_article_path(@article) %>
        <% else %>
          <%= custom_css_btn 'Up Vote', 'fa fa-arrow-up vote_button', upvote_article_path(@article) %>
          <%= custom_css_btn 'Cancel Down Vote', 'fa fa-undo vote_button', cancelvote_article_path(@article) %>
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>

  <article><%= from_markdown article.content %></article>

  <!--<footer class="article-footer">Footer PLACEHOLDER</footer>-->
</section>
