<%= form_for article do |f| %>
  <% errored = article.errors.messages[:title].present? %>
  <div class="form-group <%= 'has-error has-feedback' if errored %>">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
    <% if errored %>
      <span class="help-block control-label"><%= article.errors.messages[:title].join(', ') %></span>
    <% end %>
  </div>

  <div class="form-group">
    <label for="tag_list" class="control-label">Tags</label>
    <input type="text" class="form-control" id="article_tag_list" name="article[tag_list]" value="<%= article.tag_list.join(',') %>" />
  </div>

  <% errored = article.errors.messages[:content].present? %>
  <div class="form-group <%= 'has-error has-feedback' if errored %>">
    <%= f.label :content, class: 'control-label' %>
    <%= f.text_area :content, rows: 20, class: 'form-control' %>
    <% if errored %>
    <span class="help-block control-label"><%= article.errors.messages[:content].join(', ') %></span>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit (article.new_record? ? 'Save' : 'Update'), class: 'btn btn-default' %>
    <%= link_to 'Back', (article.new_record? ? articles_path : article_path(article)), class: 'btn btn-default' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('#article_tag_list').tokenfield({
    typeahead: {
      name: 'tags',
      local: <%= raw standard_tags %>
    }
  });
</script>
