
<%= form_for article do |f| %>

  <%= awesome_text_field f, :title %>

  <div class="form-group">
    <label for="tag_list" class="control-label">Tags</label>
    <input type="text" class="form-control" id="article_tag_list" name="article[tag_list]" value="<%= article.tag_list.join(',') %>" />
  </div>

  <%= awesome_text_area f, :content, rows: 25, class: 'form-control md-edit' %>

  <div class="form-group">
    <%= f.submit (article.new_record? ? 'Create' : 'Update'), class: 'btn btn-default' %>
    <button formaction="<%= preview_articles_path %>" class="btn btn-default" formtarget="_blank" >Preview</button>
    <%= link_to 'Back', (article.new_record? ? articles_path : article_path(article)), class: 'btn btn-default' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('#article_tag_list').tokenfield({
    typeahead: {
      name: 'tags',
      local: <%= raw standard_tags %>
    }
  });
  $(document).delegate('.md-edit', 'keydown', function(e) {
    var keyCode = e.keyCode || e.which;

    if (keyCode == 9) {
      e.preventDefault();
      var start = $(this).get(0).selectionStart;
      var end = $(this).get(0).selectionEnd;

      // set textarea value to: text before caret + tab + text after caret
      $(this).val($(this).val().substring(0, start)
          + "\t"
          + $(this).val().substring(end));

      // put caret at right position again
      $(this).get(0).selectionStart =
          $(this).get(0).selectionEnd = start + 1;
    }
  });
</script>
