<%= provide :title, 'Articles' %>

<div id="doc-box">
  <div id="doc-overview">
    <h1><%= "#{params[:tag].present? ? params[:tag] : 'All'} "%>Articles</h1>
  </div>
  <div id="doc-side-panel">
    <% if user_signed_in? %>
      <ul>
        <li><%= custom_css_btn 'new article', 'fa fa-plus', new_article_path(tag: params[:tag]) %></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="article-list">
  <% @articles.each do |a| %>
    <a href="<%= article_path(a) %>">
      <section class="article-preview listing">
        <header class="article-header">
          <h2><%= a.title %></h2>
        </header>
        <main class="md-preview"><%= markdown_preview a.content %></main>
      </section>
    </a>

    <% if a.id != @articles.last.id %>
    <div style="height: 5px; width: 70px; margin: 0 auto; background: #F07F48"></div>
    <% end %>
  <% end %>
</div>
