<%= provide :title, 'Articles' %>

<div id="doc-box">
  <div id="doc-overview">
    <h1><%= "#{params[:tag].present? ? params[:tag] : 'All'} "%>Articles</h1>
  </div>
  <div id="doc-side-panel">
    <% if user_signed_in? %>
      <ul>
        <li><%= custom_css_btn 'new article', 'fa fa-plus', new_article_path(tag: params[:tag]) %></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="article-list">
  <% @articles.each do |a| %>
    <section class="doc-preview listing">
      <header class="article-header">
        <h2><%= link_to a.title, article_path(a) %></h2>
        <small>Created by <%= link_to a.user.display_name, user_path(a.user) %>, <%= time_ago_in_words(a.created_at) %> ago,
          <% if a.tag_list.count > 0 %>
            tagged with <%= link_to_tags a.tag_list %>
          <% else %>
            not tagged with anything
          <% end %>
        </small>
      </header>
      <main class="md-preview"><%= markdown_preview a.content %></main>
    </section>

    <% if a.id != @articles.last.id %>
      <div style="height: 5px; width: 70px; margin: 0 auto; background: #F07F48"></div>
    <% end %>
  <% end %>
</div>
