<%= provide :title, @article.title %>

<section class="article-full">
  <header class="article-header">
    <h1><%= @article.title %></h1>
    <ul>
      <li>Created on <%= @article.created_at.strftime('%d %B %y') %> by <%= link_to @author.display_name, users_show_path(@author) %></li>
      <li>Last updated <%= time_ago_in_words(@article.updated_at) %> ago</li>
      <li><%= link_to_tags(@article.tag_list) %></li>
    </ul>
  </header>

  <article><%= from_markdown @article.content %></article>

  <footer class="article-footer">Footer PLACEHOLDER</footer>
</section>


