<% provide :title, 'Members' %>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1>All members</h1>
    <% if @users.empty? %>
        <p>It is a lonely planet we live in&#8230;</p>
    <% else %>
        <p>Check out our <%= @users.count %> awesome volunteers from all over the globe!</p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= form_tag(users_path, method: "get", class: "form-inline users-filter") do %>
      <%= select_tag 'Project Filter', options_for_select([ "hello world", "hello saturn" ]) %>
      <div class="form-group">
        <label class="sr-only" for="user-filter">Filter users</label>
        <input type="text" class="form-control" id="user-filter" placeholder="filter users..">
      </div>
      <%= submit_tag 'submit' %>
    <% end %>
    <!--<form class="form-inline users-filter" role="form">
      <div class="form-group">
        <label class="sr-only" for="user-filter">Filter users</label>
        <input type="text" class="form-control" id="user-filter" placeholder="filter users..">
      </div>
    </form>-->
  </div>
</div>
<div class="row">
  <% unless @users.empty? %>
      <ul class="media-list row" id="UsersList">
        <% @users.each_slice(3) do |slice| %>
            <% slice.each do |user| %>
                <% present user do |presenter| %>
                    <li class="media-item col-md-4 col-sm-6 col-xs-12">
                      <a class="user-preview" href="<%= user_path(user) %>">
                        <%= presenter.gravatar_image(size: 80,
                                                     class: 'img-rounded media-object pull-left') %>
                        <div class="media-body index-summary">
                          <p class="media-heading"><%= presenter.display_name %>
                            <% if user.online? %>
                                <%= image_tag('green-dot.png', size: '10x10', alt: 'Online!') %>
                            <% end %></p>
                          <% if presenter.has_title? %>
                              <p><%= presenter.title_list %></p>
                          <% end %>
                          <% if user.country? %>
                              <p><%= presenter.country %></p>
                          <% end %>
                        </div>
                      </a>
                      <% if user.online? & presenter.status? %>
                        <div class="user-status" id="user-status">
                          <span style= "margin-right: 5px;"class="glyphicon glyphicon-comment"></span>"<%= presenter.status %>"
                        </div>
                      <% end %>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
  <% end %>
</div>
