<% provide :title, 'Members' %>

<div id="skills" class="tag-list bootstrap-tags bootstrap-3" style="padding-left:25px;">
  <div class="tags">
    <% tag_cloud(@skills, %w(btn-primary btn-danger btn-success)) do |skill, css_class| %>
        <a href="<%= users_index_path(skill: skill.name) %>">
            <div class="tag label lg <%= css_class %>">
              <span><%= skill.name %></span>
            </div>
        </a>
    <% end %>
  </div>
</div>
<br /><br />
<div id="all_members">
  <h1>All members</h1>
  <% @users.each_slice(3) do |slice| %>
      <ul id="user-container" class="media-list">
        <% slice.each do |user| %>
            <li class="media-item user-item">
              <a class="pull-left" id="<%= "avatar-#{user.id}" %>" href="<%= users_show_path user %>">
                <img id="avatar" src="<%= gravatar_for(user.email) %>" class="thumbnail img-rounded media-object">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="<%= users_show_path user %>"><%= user.display_name %></a></h4>
                <p style="margin-left: 8px;"><%= user.country if user.country.present? %></p>
              </div>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>

<style>
  .tag {
      margin: 5px;
  }
</style>