<%= javascript_include_tag 'users' %>

<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-5 col-sm-5">
    <div class="avatar-group">
      <img src="<%= gravatar_for(@user.email, size: 275) %>" class="thumbnail img-rounded media-object">

      <div class="avatar-lower">
        <h3><%= @user.display_name %></h3>
      </div>
    </div>
    <p><%= "Location: #{@user.country}" if @user.country.present? %></p>

    <p>Member for: <%= distance_of_time_in_words(@user.created_at.to_date, Date.current) %> </p>
  </div>
  <div class="col-md-7 col-sm-7">
    <!-- Here is a good place for bio section -->
    <h4>Projects</h4>
    <% unless @users_projects.empty? %>
        <ul>
          <% @users_projects.each do |project| %>
              <li><%= link_to project.title, project_path(project) %></li>
          <% end %>
        </ul>
    <% end %>

    <h4>Skills</h4>
    <div id="skills-show" class="tag-list" style="padding-left:25px;"></div>

  </div>
</div>
<div class="row">
  <div class="col-md-5 col-sm-5">
    <% if @user.display_email %>
        <h3> <%= @user.email %></h3>
    <% end %>
    <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-primary btn-sm', type: 'button' if @user.eql?(current_user) %>
    <%= link_to 'Hire me', users_show_path(@user), {:remote => true,  class: 'btn btn-primary btn-sm', 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}%>
    <% if @user.eql?(current_user) %>
        <div style="margin-top: 10px;">
        <% if @user.youtube_id %>
            <%= unlink_from_youtube_button(request.original_url) %>
        <% else %>
            <%= link_to_youtube_button(request.original_url) %>
        <% end %>
        </div>
    <% end %>
    <h4>Pair Programming</h4>
    <% unless @youtube_videos.blank? %>
        <table class="table table-bordered table-striped table-hover table-condensed">
          <tr>
            <th>Title</th>
          </tr>
          <% @youtube_videos.each do |video| %>
              <tr>
                <td><%= video_link(video) %>
                  <br/>
                  <small><%= video[:published].to_s(:db) %></small>
                </td>
              </tr>
          <% end %>
        </table>
    <% else %>
        <h4><%= user_display_name @user %> has no publicly viewable Youtube videos.</h4>
    <% end %>
  </div>
  <% unless @youtube_videos.blank? %>
      <div class="col-md-7 col-sm-7">
        <td><h4 id="video_contents"><%= @youtube_videos.first[:content] %></h4></td>
        <iframe id="ytplayer" type="text/html" width="480" height="293" src="<%= video_embed_link(@youtube_videos.first) %>" frameborder="0"></iframe>
      </div>
  <% end %>
  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= render 'layouts/hire_me' %>
  </div>








</div>

<script>
    $(function () {
        $('#skills-show').tags({
            readOnly: true,
            tagClass: 'btn-agile',
            tagSize: "lg",
            tagData: <%= raw @user.skill_list.to_json %>,
            readOnlyEmptyMessage: "No Skills"
        });
    });
</script>
