<% present @user do |presenter| %>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <%= render 'users/profile/summary', presenter: presenter %>
    </div>

    <div class="col-md-8 col-xs-12">
      <%= render 'users/profile/detail', presenter: presenter %>
    </div>
  </div>
  <div class="clear">
    <hr/>
  </div>
  <div class="row">
    <%= render 'users/profile/videos', videos: @event_instances, presenter: presenter %>
  </div>

  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= render 'layouts/hire_me' %>
  </div>
<% end %>

<%= render 'users/profile/modal' %>

