<div class="container">
  <div class="col-md-5 col-md-offset-2">
    <h2 class="text-center">Change your password</h2>
    <br />
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.password_field :password, :autofocus => true, :placeholder => "Enter new password", class: 'form-control input-lg' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, :placeholder => "Repeat new password", class: 'form-control input-lg' %>
        </div>

        <div class="form-group">
          <%= f.submit "Change my password", class: 'btn btn-primary btn-lg btn-block' %>
        </div>
        <%= devise_error_simple_message %>
      </fieldset>
    <% end %>
  </div>
</div>
