<% provide :title, 'New Events' %>

<% start_datetime = params.fetch(:start_date, @event.start_datetime) %>
<% start_datetime = Time.now if start_datetime.nil? %>
<% start_date = start_datetime.to_date %>
<% start_time = start_datetime.to_time %>
<% duration = params.fetch(:duration, @event.duration) %>

<div class="col-lg-8 col-lg-offset-2">
  <%= form_for @event, html: {class: 'form-vertical', id: 'event-form'} do |f| %>

      <%= awesome_text_field f, :name %>

      <div class='form-group'>
        <%= f.label :category, class: 'control-label' %>
        <%= f.select :category, %w( PairProgramming Scrum ClientMeeting ), {}, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :project_id, class: 'control-label' %>
        <%= f.select :project_id, @projects.collect { |p| [p.title, p.id] }.sort, {}, class: 'form-control' %>
      </div>

      <%= awesome_text_area f, :description, rows: 10 %>

      <div class="form-group event_date">
        <%= label_tag 'start_date', 'Start Date', class: 'control-label' %>
        <%= text_field_tag 'start_date', format_datepicker(start_date), style: 'width:auto;', class: 'form-control datepicker' %>
        <%= hidden_field_tag 'next_date', @event.next_event_occurrence_with_time() ? format_datepicker(@event.next_event_occurrence_with_time()[:time]) : format_datepicker(DateTime.now) %>
      </div>

      <div class="form-group event_time">
        <%= label_tag 'start_time', 'Start Time', class: 'control-label' %>
        <%= text_field_tag 'start_time', format_timepicker(start_time), style: 'width:auto;', class: 'form-control timepicker' %>
        <%= select_tag 'start_time_tz', options_from_collection_for_select( TZInfo::Timezone.all, 'identifier', 'identifier', 'UTC'), { class: 'form-control', style: 'width:auto;' } %>
      </div>

      <div class="form-group">
        <%= label_tag :duration, "Duration in Minutes", class: 'control-label' %>
        <%= f.number_field :duration, style: 'width:auto;', value: duration, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :repeats, :class => 'control-label' %>
        <%= f.select :repeats, Event::REPEATS_OPTIONS, {}, default: 'never', class: 'form-control' %>
        <%= render partial: 'repeats_weekly_options', locals: {f: f} %>
      </div>

      <div class="form-group event_option" id="repeats_options">
        <%= label_tag 'event_repeat_ends_string', 'Repeat ends', class: 'control-label' %>
        <%= f.select :repeat_ends_string, Event::REPEAT_ENDS_OPTIONS, {}, class: 'form-control' %>
      </div>

      <div class="form-group event_option repeat_ends_on">
        <%= label_tag 'repeat_ends_on', 'End Date', class: 'control-label', id: 'repeat_ends_on_label' %>
        <%= text_field_tag 'repeat_ends_on', format_datepicker(@event.repeat_ends_on), style: 'width:auto;', class: 'form-control datepicker' %>
      </div>

      <div class="form-group">
        <%= f.hidden_field :time_zone, value: 'UTC' %>
      </div>

      <div class="form-group">
        <% if @event.new_record? %>
          <%= link_to 'Cancel', events_path, class: 'btn btn-default' %>
        <% else %>
          <%= link_to 'Cancel', event_path(@event), class: 'btn btn-default' %>
        <% end %>        
        <%= f.submit 'Save', class: 'btn btn-default', data: {disable_with: 'Working...'} %>
      </div>
  <% end %>
</div>
