<% provide :title, 'New Events' %>

<% start_date = params[:event_date].to_datetime.strftime('%F') if params[:event_date] %>
<% start_time = params[:start_time].to_datetime.strftime('%H:%M') if params[:event_date] %>
<% duration = (params[:duration]) if params[:duration] %>

<div class="col-lg-8 col-lg-offset-2">
  <%= form_for @event, html: {:class => 'form-vertical', :id => 'event-form'} do |f| %>

    <%= awesome_text_field f, :name %>

    <div class='form-group'>
      <%= f.label :category, :class => 'control-label' %>
      <%= f.select :category, %w( Scrum PairProgramming ), {}, :class => 'form-control' %>
    </div>

    <%= awesome_text_area f, :description, rows: 10 %>

    <div class="form-group event_date">
      <%= label_tag 'start_date', 'Start Date', :class => 'control-label' %>
      <% if params['start_date'] %>
        <%= text_field_tag 'start_date', format_datepicker(start_date), style: 'width:auto;', :class => 'form-control datepicker' %>
      <% else %>
        <%= text_field_tag 'start_date', format_datepicker(@event.start_datetime), style: 'width:auto;', class: 'form-control datepicker' %>
      <% end %>
    </div>

    <div class="form-group event_time">
      <%= label_tag 'start_time', "Start Time in UTC", :class => 'control-label' %>
      <% if params['start_time'] %>
        <%= text_field_tag 'start_time', format_timepicker(start_time), style: 'width:auto;', class: 'form-control timepicker' %>
      <% else %>
        <%= text_field_tag 'start_time', format_timepicker(@event.start_datetime), style: 'width:auto;', class: 'form-control timepicker' %>
      <% end %>
    </div>

    <div class="form-group event_time" style='display: block;'>
      <%= f.label :duration, "#{:duration}".titleize, :class => 'control-label'%>
      <% if params[:duration] %>
        <%= f.number_field :duration, {style: 'width:auto;', value: duration} %>
      <% else %>
        <%= f.number_field :duration, {style: 'width:auto;', value: @event.duration}  %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :repeats, :class => 'control-label' %>
      <%= f.select :repeats, Event::REPEATS_OPTIONS, {}, :default => 'never', :class => 'form-control' %>
      <%= render partial: 'repeats_weekly_options', locals: {f: f} %>
    </div>

    <div class="form-group event_option" id="repeats_options">
      <%= f.label :repeat_ends, :class => 'control-label' %>
      <%= f.select :repeat_ends, Event::REPEAT_ENDS_OPTIONS, {}, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <div id="event_repeat_ends_on">
        <%= f.label :repeat_ends_on, :class => 'control-label' %>
        <%= f.date_select :repeat_ends_on, {}, {style: 'width:auto;'} %>
      </div>
    </div>


    <div class="form-group">
      <%= f.hidden_field :time_zone, :value => 'UTC'%>
    </div>

    <div class="form-group">
      <%= link_to 'Cancel', events_path, class: 'btn btn-default' %>
      <%= f.submit 'Save', class: 'btn btn-default', data: {disable_with: 'Working...'} %>
    </div>
  <% end %>
</div>

<style>

  #repeats_options {
    display: none;
  }

  #repeats_daily_options {
    display: none;
  }

  #repeats_weekly_options {
    display: none;
  }
</style>
