
<%= form_for event, html: {class: 'form-horizontal', novalidate: 'novalidate'} do |f| %>
    <div class="row">
      <div class='col-sm-6'>
        <%= f.text_field :name, class: 'col-sm-6' %>
        <%= f.text_area :description, class: 'col-sm-6', rows: 5 %>
        <%= f.select :calendar_id, options_from_collection_for_select(Calendar.all, 'id', 'name', f.object.calendar_id), include_blank: false %>
        <%= #f.select :location_id, options_from_collection_for_select(Place.all, 'id', 'name', f.object.location_id), include_blank: true %>
        <%= #f.select :host_id, options_from_collection_for_select(Place.all, 'id', 'name', f.object.host_id), include_blank: true %>
      </div>
      <div class="span6">
        <%= f.check_box :is_all_day %>
        <% if params[:start_date] %>
            <%= f.text_field :from_date, {style: 'width:auto;', :class => 'datepicker', :value => "#{start_date}"} %>
        <% else %>
            <%= f.text_field :from_date, {style: 'width:auto;', :class => 'datepicker'} %>
        <% end %>
        <div class="event_time">
          <% if params[:start_date] %>
              <%= f.text_field :from_time, {style: 'width:auto;', :class => 'timepicker', :value => "#{start_time}"} %>
          <% else %>
              <%= f.text_field :from_time, {style: 'width:auto;', :class => 'timepicker'} %>
          <% end %>
        </div>
        <% if params[:start_date] %>
            <%= f.text_field :to_date, {style: 'width:auto;', :class => 'datepicker', :value => "#{start_date}"} %>
        <% else %>
            <%= f.text_field :to_date, {style: 'width:auto;', :class => 'datepicker'} %>
        <% end %>
        <div class="event_time">
          <% if params[:start_date] %>
              <%= f.text_field :to_time, {style: 'width:auto;', :class => 'timepicker', :value => "#{end_time}"} %>
          <% else %>
              <%= f.text_field :to_time, {style: 'width:auto;', :class => 'timepicker'} %>
          <% end %>
        </div>
        <div class="event_time">
          <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)" %>
        </div>
        <%= f.select :repeats, Event::RepeatsOptions %>
        <%= render partial: 'repeats_daily_options', locals: {f: f} %>
        <%= render partial: 'repeats_weekly_options', locals: {f: f} %>
        <%= render partial: 'repeats_monthly_options', locals: {f: f} %>
        <%= render partial: 'repeats_yearly_options', locals: {f: f} %>
        <div class="event_option" id="repeats_options">
          <%= f.select :repeat_ends, Event::RepeatEndsOptions %>
          <div id="event_repeat_ends_on">
            <%= f.date_select :repeat_ends_on, {}, {style: 'width:auto;'} %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= link_to 'Cancel', root_path, :class => 'btn' %>
      <%= f.submit 'Save' %>
    </div>
<% end %>
<% content_for :footer do %>
    <script>

        $(function() {
            var toggle_repeats_yearly_on = function(){
                if($('#event_repeats_yearly_on').is(':checked')){
                    $('#event_repeats_yearly_on_options').show();
                } else {
                    $('#event_repeats_yearly_on_options').hide();
                }
            }
            toggle_repeats_yearly_on();
            $('#event_repeats_yearly_on').on('change',function(){
                toggle_repeats_yearly_on();
            });
            var toggle_event_times = function(){
                if($('#event_is_all_day').is(':checked')){
                    $('.event_time').hide();
                } else {
                    $('.event_time').show();
                }
            }
            toggle_event_times();
            $('#event_is_all_day').on('change',function(){
                toggle_event_times();
            });
            var toggle_event_options = function(){
                $('.event_option').hide();
                switch ($('#event_repeats').val())
                {
                    case 'never':
                        // Nothing
                        break;
                    case 'daily':
                        $('#repeats_options').show();
                        $('#repeats_daily_options').show();
                        break;
                    case 'weekly':
                        $('#repeats_options').show();
                        $('#repeats_weekly_options').show();
                        break;
                    case 'monthly':
                        $('#repeats_options').show();
                        $('#repeats_monthly_options').show();
                        break;
                    case 'yearly':
                        $('#repeats_options').show();
                        $('#repeats_yearly_options').show();
                        break;
                }
            }
            toggle_event_options();
            $('#event_repeats').on('change',function(){
                toggle_event_options();
            });
            var toggle_repeat_ends_on = function(){
                switch ($('#event_repeat_ends').val())
                {
                    case 'never':
                        $('#event_repeat_ends_on').hide();
                        break;
                    case 'on':
                        $('#event_repeat_ends_on').show();
                        break;
                }
            }
            toggle_repeat_ends_on();
            $('#event_repeat_ends').on('change',function(){
                toggle_repeat_ends_on();
            });
            var toggle_repeats_monthly = function(){
                switch ($('#event_repeats_monthly').val())
                {
                    case 'each':
                        $('#event_repeats_monthly_each').show();
                        $('#event_repeats_monthly_on').hide();
                        break;
                    case 'on':
                        $('#event_repeats_monthly_each').hide();
                        $('#event_repeats_monthly_on').show();
                        break;
                }
            }
            toggle_repeats_monthly();
            $('#event_repeats_monthly').on('change',function(){
                toggle_repeats_monthly();
            });
        });


    </script>
<% end %>
<% content_for :first_styles do %>
    <css>

      #repeats_options {display:none;}
      #repeats_daily_options {display:none;}
      #repeats_weekly_options {display:none;}
      #repeats_monthly_options {display:none;}
      #repeats_yearly_options {display:none;}

    </css>
<% end %>