<% provide :title, 'Events' %>
<h1>AgileVentures Events <%= link_to 'New Event', new_event_path, class: 'btn btn-default pull-right' %></h1>
<p>We are hosting several events a day using Google Hangouts. Feel free to join in if you want to get involved or if you
  are curious about Pair Programming and Agile.
  <strong>Each event will have a link to an online Hangout prior to start time.</strong>
  You can also add the upcoming events to your
  <%= link_to "calendar", calendar_path %>
  </p>

<div id="calendar"></div>

<p> </p>
<%= form_tag(events_path, :id => "events_search", :method => "get", :autocomplete => :off, :class => "form-inline text-left") do %>
    <div class="form-group">
      <%= select_tag :project_id, options_from_collection_for_select(@projects, "id", "title", @project.try(:id).try(:to_s)), prompt: "All", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag "Filter by Project", {:class => 'btn btn-default'} %>
    </div>
<% end %>

<% if user_signed_in? %>
    <div class="row">

</div>
<% end %>

<div class="eventContainer">
  <% @events.each_slice(2) do |slice| %>
      <% slice.each do |instance| %>
          <% event = instance[:event] %>
          <div class="event-row" id="details_<%= event.id %>">
            <div class="row">
              <div class="col-lg-9 col-xs-12 col-sm-9">
                <div class="event-title"><%= link_to event.name.truncate(50, separator: /\s/), event_path(event) %></div>
              </div>
              <div class="col-lg-3 col-xs-12 col-sm-3">
                <% if instance[:time].today?%>
                  <% recent_hangout = event.recent_hangouts.first %>
                  <% if recent_hangout && recent_hangout.live? %>
                      <div class="event-notice pull-right">
                        <%= link_to 'Event live! Join now', recent_hangout.hangout_url, class: 'btn btn-default pull-right' %>
                      </div>
                  <% elsif event.within_current_event_duration? %>
                      <div class="event-notice pull-right">
                        <%= link_to  "Event time! Start now", event_path(event), class: 'btn btn-default pull-right' %>
                      </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-4">
              <i class="fa fa-calendar"></i><span class="month"><%= local_time(instance[:time],'%a, %b %d, %Y') %></span><br/>
              <i class="fa fa-clock-o"></i><span><%= raw show_local_time_range(instance[:time], event.duration) %></span>
            </div>
            <div class="col-lg-8 col-xs-12 col-sm-8">
              <p><%= auto_link(event.description.truncate(120, separator: /\s/)) %></p>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
