<% provide :title, 'Events' %>
<h1>AgileVentures Events</h1>
<p>We are hosting several events a day using Google Hangouts. Feel free to join in if you want to get involved or if you
  a curious about Pair Programming and Agile.
  <strong>Each event will have a link to an online Hangout prior to start time.</strong></p>
<% if user_signed_in? %>
  <div class="row">
    <%= link_to 'New Event', new_event_path, class: 'btn btn-default pull-right' %>
  </div>
<% end %>

<div class="eventContainer">
  <% @events.each_slice(2) do |slice| %>
    <% slice.each do |instance| %>
      <% event = instance[:event] %>
      <% recent_hangout = event.recent_hangouts.first %>
      <div class="row" id="details">
        <h2><%= link_to event.name.truncate(50, separator: /\s/), event_path(event) %></h2>

        <p><%= event.description.truncate(140, separator: /\s/) %></p>

        <div class="col-lg-6 col-xs-12 col-sm-6">
          <div class="calendar-block">
            <i class="fa fa-calendar"></i>

            <div class="calendar-text">
              <span class="month"><%= instance[:time].strftime('%A, %B %d, %Y') %></span>
              <br/>
              <span><%= raw show_local_time_range(event) %></span>
              <br/>
                <span>
                  <small><%= raw show_time_range(event) %></small>
                </span>

            </div>
          </div>
        </div>
        <div class="col-lg-6  col-xs-12 col-sm-6">
          <% if recent_hangout && recent_hangout.live? %>
            <div class="event-notice pull-right">
              This event is now live!
              <br/>
              <%= link_to 'Join now', recent_hangout.hangout_url, class: 'btn btn-default pull-right' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

