<div class="container">
  <h1>AgileVentures Events</h1>

  <% if user_signed_in? %>
      <div class="row">
        <%= link_to 'New Event', new_event_path, :class => 'btn btn-primary pull-right' %>
      </div>
  <% end %>

  <% @events.each_slice(4) do |slice| %>
      <ul id="event-container" class="media-list">
        <% slice.each do |instance| %>
            <% event = instance[:event] %>
            <% time = instance[:time] %>
            <li class="media-item event-item <%= event.category.downcase %>">
                <h4 class="media-heading"><%= link_to event.name, event_path(event) %></h4>
                <div>
                  <img class="media-object" src="<%= cover_for(event) %>" alt="" width="100%">
                </div>

              <% if user_signed_in? %>
                  <div> <%= link_to time.strftime("%F at %I:%M%p"), edit_event_path(event) %></div>
              <% else %>
                  <p><%= event.from_date %>
                    - <%= event.from_time.strftime("at %I:%M%p") %></p>
              <% end %>
              <small> <%= event.description %></small>
            </li>
        <% end %>
      </ul>
  <% end %>

</div>

<%= javascript_include_tag 'events' %>
