<div class="container">
  <h1>AgileVentures Events</h1>

  <% if user_signed_in? %>
    <div class="row">
      <%= link_to 'New Event', new_event_path, :class => 'btn btn-primary pull-right' %>
    </div>
  <% end %>


  <div id="grid-container">
    <ul>
      <% @events.each do |instance| %>
        <% event = instance[:event] %>
        <% time = instance[:time] %>
        <li class="<%= event.category.downcase %>">
          <div><%= link_to event.name, event_path(event) %></div>
          <div>
            <div>
              <img src="<%= cover_for(event) %>" alt="" width="100%">
            </div>
          </div>
          <% if user_signed_in? %>
            <div> <%= link_to time.strftime("%F at %I:%M%p"), edit_event_path(event) %></div>
          <% else %>
            <div><%= event.from_date %>
              - <%= event.from_time.strftime("at %I:%M%p") %></div>
          <% end %>
          <div> <%= event.description %></div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_include_tag 'events' %>
