<% url = @event.url if @event.url %>
<script src="https://apis.google.com/js/platform.js"></script>
<%= javascript_include_tag 'projects' %>
<div class="col-lg-8 col-lg-offset-2">

  <h2><%= @event.name %></h2>
  <small><%= @event.schedule %></small>
  <p><strong><%= @event.description %></strong></p>

  <% if @event.schedule.present? %>
    <div class="row well well-sm" >
      <div class="col-lg-8" style="margin-top: -10px">
        <h4>Upcoming schedule</h4>
        <% @event_schedule.first(5).each do |e| %>
          <%= current_occurrence_time(e) %>
          <br/>
        <% end %>
      </div>
      <div class="col-sm-4" style="margin-top: 10px">
        <%= link_to 'Back', root_path, :class => 'btn btn-default' %>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-default' %>
          <div style="margin-top: 10px">
            <div id="HOA-placeholder" data-hoa-title="<%= @event.name %> - <%= current_occurrence_time(@event_schedule.first(1)) %>"></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="col-lg-12">
    <p>
      <strong>Note</strong>: Hangout links must be updated manually, please be sure to check that the Hangout link is up to date before
      following the link.
    </p>
    <% if @event.url.present? %>
      <p><strong>Hangout link</strong> (updated <%= time_ago_in_words @event.updated_at %> ago):
        <br/>
        <div id="hoa-link">
          <%= link_to @event.url, @event.url, id: 'hoa-link', target: '_blank' %>
        </div>
      </p>
    <% end %>
    <% if user_signed_in? %>
      <% if @event.url.present? %>
        <button id="toggle-edit" class="btn btn-sm btn-default">Edit</button>
      <% else %>
        <button id="toggle-add" class="btn btn-sm btn-default">Add url</button>
      <% end %>
      <%= form_for @event, url: update_only_url_event_path(@event), html: {:class => 'form-vertical edit_url', :id => 'event-form'} do |f| %>
        <div class='form-group' style="margin-top: 10px">
          <%= f.label :url, :class => 'control-label' -%>
          <%= f.text_field :url, :class => 'form-control', :value => "#{url}" -%>
        </div>
        <div class='form-group'>
          <%= f.submit 'Save', class: 'btn btn-default', data: {disable_with: 'Working...'} %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>


<script>
  $('#toggle-edit, #toggle-add').click(function () {
    $('#event-form').toggle();
    $('#toggle-edit').text(function (i, text) {
      return text === "Edit" ? "Cancel" : "Edit";
    })
    $('#toggle-add').text(function (i, text) {
      return text === "Add url" ? "Cancel" : "Add url";
    })
  });
</script>

<style>

  .edit_url {
    display: none;
  }

  #link_url {
  }


</style>
