<% provide :title, @event.name %>
<% url = @event.url if @event.url %>
<script src="https://apis.google.com/js/platform.js"></script>
<%= javascript_include_tag 'projects' %>
<div class="col-lg-8 col-lg-offset-2">
  <h2><%= @event.name %></h2>
  <small><%= @event.schedule %></small>
  <p><strong><%= @event.description %></strong></p>


  <% if @event.schedule.present? %>
      <div class="row well">
        <div class="col-lg-8">
          <h4>Upcoming schedule</h4>
          <% @event_schedule.first(5).each do |e| %>
              <%= nested_hash_value(e, :time).strftime("%F at %I:%M%p") %>
              <br/>
          <% end %>
        </div>
        <div class="col-lg-4 ">
          <%= link_to 'Back', root_path, :class => 'btn btn-danger' %>
          <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-primary' %>
          <div id="HOA-placeholder" data-hoa-title="<%= @event.name %> - <%= @event_schedule.first(1).to_s %>"></div>
        </div>
      </div>
  <% end %>
  <% if @event.url.present? %>
      Hangout link:  <%= link_to @event.url, @event.url %>  -
      <button id="toggle-edit" class="btn btn-sm btn-default">Edit</button>
  <% else %>
      <button id="toggle-add" class="btn btn-sm btn-default">Add Hangout url</button>
  <% end %>
  <%= form_for @event, html: {:class => 'form-vertical edit_url', :id => 'event-form'} do |f| %>
      <div class='form-group'>
        <%= f.label :url, :class => 'control-label' -%>
        <%= f.text_field :url, :class => 'form-control', :value => "#{url}" -%>
      </div>
      <div class='form-group'>
        <%= f.submit 'Save', class: 'btn btn-default', data: {disable_with: 'Working...'} %>
      </div>
  <% end %>


</div>




<script>
    $('#toggle-edit, #toggle-add').click(function () {
        $('#event-form').toggle();
        $('#toggle-edit').text(function (i, text) {
            return text === "Edit" ? "Cancel" : "Edit";
        })
        $('#toggle-add').text(function (i, text) {
            return text === "Add Hangout url" ? "Cancel" : "Add Hangout url";
        })
    });
</script>

<style>

    .edit_url {
        display: none;
    }

    #link_url {
    }


</style>
