<div class="col-lg-8 col-lg-offset-2">

  <h2><%= @event.name %></h2>
  <small><%= @event.schedule %></small>
  <p><strong><%= @event.description %></strong></p>

  <% if @event.schedule.present? %>
    <div class="row well well-sm" >
    <div class="col-lg-5" style="margin-top: -10px">
      <h4>Upcoming schedule</h4>
      <% @event_schedule.first(5).each do |e| %>
        <%= current_occurrence_time(e) %>
      <br/>
    <% end %>
    </div>
    <div class="col-lg-5" style="float: right; margin-top: 10px">
      <%= link_to 'Back', root_path, :class => 'btn btn-default' %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-default' %>
    </div>
    <% if @hangout.try!(:started?)  %>
      <div id="hangout_button" class="col-lg-5" style="margin-top: 10px; display:none;">
    <% else %>
        <div id="hangout_button" class="col-lg-5" style="margin-top: 10px">
      <% end  %>
        <%= render partial: 'hangouts/hangout_button',
          locals: { id: @event.id, topic: topic(@event, @event_schedule) } %>
      </div>
      <% end %>
        <button id="edit-link" class="btn btn-sm btn-default">Edit link</button>
        <button id="restart-hoa" class="btn btn-sm btn-default">Click to restart the hangout</button>
        <div id="restart-warning" style="display:none;">Restarting Hangout would update the details of the hangout currently associated with this event.</div>
      </div>
    <% end %>
      <div class="col-lg-12" style="padding-left: inherit">
        <% if @hangout.try!(:started?)  %>
          <div id="hangout_details">
          <%= render partial: 'hangouts/hangout_status', locals: {event: @event, hangout: @hangout} %>
        </div>
      <% end %>
      </div>
      <div class="col-lg-12">
        <% if user_signed_in? %>
          <button id="toggle-add" class="btn btn-sm btn-default">Add url</button>
        <%= form_for @event, url: update_only_url_event_path(@event), html: {:class => 'form-vertical edit_url', :id => 'event-form'} do |f| %>
          <div class='form-group' style="margin-top: 10px">
          <%= f.label :url, :class => 'control-label' -%>
          <%= f.text_field :url, :class => 'form-control'-%>
        </div>
        <div class='form-group'>
          <%= f.submit 'Save', class: 'btn btn-default', data: {disable_with: 'Working...'} %>
        </div>
      <% end %>
      <% end %>
      </div>

    </div>

    <script>
      $('#restart-hoa').click(function() {
          $('#restart-hoa').text(function (i, text) {
            return text === 'Cancel' ? 'Click to restart the hangout' : 'Cancel';
            });
          $('#restart-warning').toggle();
          $('#hangout_button').toggle();
          $('#hangout_details').toggle();
          });

    </script>

    <script>
      $('#toggle-edit, #toggle-add').click(function () {
          $('#event-form').toggle();
          $('#toggle-edit').text(function (i, text) {
            return text === "Edit" ? "Cancel" : "Edit link";
            })
          $('#toggle-add').text(function (i, text) {
            return text === "Add url" ? "Cancel" : "Add url";
            })
          });
    </script>

    <style>

      .edit_url {
        display: none;
      }

      #link_url {
      }


    </style>
