<div class="row">
  <div class="col-xs-12">
    <h1><%= @event.name %></h1>

    <p><%= auto_link(@event.description) %></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-4">
    <p>Event type: <%= @event.category %></p>
    <p>Event for: <%= @event.for %></p>
  </div>
  <div class="col-xs-8">
    <% if user_signed_in? %>
        <div class="dropdown dropdown-beside-HOA pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="actions-dropdown" data-toggle="dropdown">
            Event Actions
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" role="menu" aria-labelledby="actions-dropdown">
            <li role="presentation">
              <%= link_to 'Edit Event Details', edit_event_path(@event), role: 'menuitem', tabindex: '-1' %>
            </li>
            <li role="edit_hoa_link">
              <%= link_to 'Edit hangout link', '#', remote: true, data: {toggle: 'collapse', target: '#edit-link-form'}, role: 'menuitem', tabindex: '-1' %>
            </li>
            <li role="edit_yt_link">
              <%= link_to 'Edit youtube link', '#', remote: true, data: {toggle: 'collapse', target: '#edit-yt-link-form'}, role: 'menuitem', tabindex: '-1' %>
            </li>
          </ul>
        </div>

        <% if !@recent_hangout.try(:live?) and @event.less_than_ten_till_start?%>
          <div class='btn-jitsi pull-right'>
            <%= link_to @event.jitsi_room_link, target: '_blank' do %>
              <button type="button" class="btn btn-primary" id='start-jitsi'>
                Start Jitsi Meet
              </button>
            <% end %>
          </div>

          <div class="btn-HOA pull-right">
            <%= button_to 'Start Hangout Instructions', 'https://support.google.com/youtube/answer/7083786', id: 'hoa_instructions', class: "btn btn-primary", form: {target: '_blank'} %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>

<hr/>

<div class="row" id="hangout-details">
  <% if @event.next_event_occurrence_with_time %>
      <div class="col-xs-12 col-sm-6">
        <h4>Next scheduled event:</h4>

          <div class="calendar-text">
            <a href='#' id='calendar_link'><i class="fa fa-calendar-plus-o"></i></a><span class="month"><%=  local_time(@event.next_event_occurrence_with_time[:time],'%A, %B %d, %Y') %></span>
            <div id='calendar_links'>
              <i class='fa fa-google'></i><%= link_to 'Export to Google Cal', google_calendar_link(@event) %>
            </div>
            <br/>
            <i class="fa fa-clock-o"></i><span id='local_time'><%= raw show_local_time_range(@event.next_event_occurrence_with_time[:time], @event.duration) %></span><br/>
            <% if @event.schedule.recurrence_rules.map { |rule| rule.class.name }.include?('IceCube::WeeklyRule') %>
                <% if @event.repeats_every_n_weeks == 2 %>
                    <p class="help-block">Occurs every two weeks at the specified times</p>
                <% else %>
                    <p class="help-block">Occurs weekly at the specified times</p>
                <% end %>
            <% end %>
          </div>
      </div>
  <% end %>
  <% if @event.creator %>
      <%= set_column_width %>
      <div class="col-xs-12 col-sm-2">
        <div class="row text-center">
          <%= link_to @event.creator.presenter.gravatar_image(size: 80, id: 'user-gravatar', class: 'img-circle'), user_path(@event.creator) %>
        </div>
        <div class="row text-center">
          created by:
        </div>
        <div class="row text-center">
          <%= link_to @event.creator.display_name, user_path(@event.creator) %>
        </div>
        <div class="row text-center">
          <%= @event.created_at.strftime "%F" %>
        </div>
      </div>
  <% end %>

  <% if @event.modifier_id %>
    <div class="col-xs-12 col-sm-2">
      <div class="row text-center">
        <%= link_to @event.modifier.presenter.gravatar_image(size: 80, id: 'user-gravatar', class: 'img-circle'), user_path(@event.modifier) %>
      </div>
      <div class="row text-center">
        updated by:
      </div>
      <div class="row text-center">
        <%= link_to @event.modifier.display_name, user_path(@event.modifier) %>
      </div>
      <div class="row text-center">
        <%= @event.updated_at.strftime "%F" %>
      </div>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-6">
    <% if @recent_hangout.try :live? %>
        <div class="event-notice">
          This event is now live!
          <br/>
          <%= link_to 'Join now', @recent_hangout.hangout_url %>
        </div>
    <% elsif @event.try :within_current_event_duration? %>
        <div class="event-notice">
          It's time! Please start the event.
        </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>

    <% hangout_is_live = @recent_hangout.try!(:live?) %>
    <div class="row">
      <div class="col-lg-12 collapse" id="edit-link-form" aria-expanded="false">
        <%= form_tag hangout_url(hangout_is_live ? @recent_hangout.uid : generate_event_instance_id(current_user)), method: :put, class: 'form-horizontal', role: 'form' do %>
            <%= hidden_field_tag 'title', topic(@event, @event_schedule) %>
            <%= hidden_field_tag 'host_id', current_user.id %>
            <%= hidden_field_tag 'event_id', @event.id %>
            <%= hidden_field_tag 'url_set_directly', true %>
            <%= hidden_field_tag 'notify_hangout', true %>
            <%= hidden_field_tag 'category', @event.category %>
            <% if @event.project %>
              <%= hidden_field_tag 'project_id', @event.project.id %>
            <% end %>
            <%= hidden_field_tag 'yt_url', @recent_hangout.try!(:yt_url) %>

            <div class="form-group">
              <label class="control-label sr-only" for="hangout-url">Manually modify Hangout link</label>
            </div>
            <b>Hangout Link</b>
            <div class="form-group">
              <div class="col-sm-8">
                <input type="url" required class="form-control" name="hangout_url" placeholder="Copy and paste the hangout link in here.." value="<%= @recent_hangout.try!(:hangout_url) %>">
              </div>
              <div class="col-sm-2">
                <button type="button" class="form-control btn-default" data-toggle="collapse" data-target="#edit-link-form" id="hoa_link_cancel">Cancel</button>
              </div>
              <div class="col-sm-2">
                <input type="submit" class="form-control btn-primary" value="Save" id="hoa_link_save"/>
              </div>
            </div>
        <% end %>
      </div>

      <div class="col-lg-12 collapse" id="edit-yt-link-form" aria-expanded="false">
        <%= form_tag hangout_url(hangout_is_live ? @recent_hangout.uid : generate_event_instance_id(current_user)), method: :put, class: 'form-horizontal', role: 'form' do %>
            <%= hidden_field_tag 'title', topic(@event, @event_schedule) %>
            <%= hidden_field_tag 'host_id', current_user.id %>
            <%= hidden_field_tag 'event_id', @event.id %>
            <%= hidden_field_tag 'url_set_directly', true %>
            <%= hidden_field_tag 'notify_yt', true %>
            <%= hidden_field_tag 'category', @event.category %>
            <% if @event.project %>
              <%= hidden_field_tag 'project_id', @event.project.id %>
            <% end %>
            <%= hidden_field_tag 'hangout_url', @recent_hangout.try!(:hangout_url) %>

            <div class="form-group">
              <label class="control-label sr-only" for="yt_url">Manually modify Youtube link</label>
            </div>
            <b>Youtube Link</b>
            <div class="form-group">
              <div class="col-sm-8">
                <input type="url" required class="form-control" name="yt_url" placeholder="Copy and paste the youtube link in here.." value="<%= @recent_hangout.try!(:yt_url) %>">
              </div>
              <div class="col-sm-2">
                <button type="button" class="form-control btn-default" data-toggle="collapse" data-target="#edit-yt-link-form" id="yt_link_cancel">Cancel</button>
              </div>
              <div class="col-sm-2">
                <input type="submit" class="form-control btn-primary" value="Save" id="yt_link_save"/>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <hr/>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <p><%= link_to 'Learn more about Scrums', static_page_path('Getting started') %></p>
  </div>
</div>
