<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="<%= cover_for(@event) %>" alt="<%= @event.name %>">
        </a>

        <div class="media-body">
          <h4 class="media-heading"><%= @event.name %></h4>
          <strong><%= @event.description %></strong>

          <br/>
          <%= @event.from_date %>
          <br/>
          <%= @event.from_time.strftime("%I:%M%p") %> - <%= @event.to_time.strftime("at %I:%M%p") %>
          <br/>

        </div>
      </div>
      <% if @event.schedule.present? %>
      <div class="media">

        <strong>Schedule</strong>
        <%= @event.schedule %>
        <br/>

        <strong>Upcomming <%= @event.name.pluralize %>:</strong>
        <% @event.schedule.first(5).each do |e| %>
            <br/>
            <%= e.to_s %>
        <% end %>
      </div>
      <% end %>
    </div>


    <div class="col-lg-6">
      <%= link_to 'Back', root_path, :class => 'btn btn-danger' %>
      <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-primary' %>
    </div>
  </div>
</div>



