<div class="container">
  <div class="row">
  <div class="col-lg-6">
    <h2><%= @event.name %></h2>

    <strong><%= @event.description %></strong>

    <br/>
    <strong>From:</strong>
    <%= @event.from_date %>
    <%= @event.from_time.strftime("at %I:%M%p") %>
    <br/>
    <strong>To:</strong>
    <%= @event.to_date %>
    <%= @event.to_time.strftime("at %I:%M%p") %>
    <br/>
    <strong>Duration:</strong>

    <%= distance_of_time_in_words(@event.schedule.duration) %>
    <br/>
    <strong>Schedule:</strong>
    <%= @event.schedule %>
    <br/>
    <strong>Upcomming Events:</strong>
    <% @event.schedule.first(5).each do |e| %>
        <br/>
        <%= e.to_s %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Back', root_path, :class => 'btn btn-danger' %>
    <%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-primary' %>
  </div>
  </div>
</div>



