<%= provide :title, 'Getting Started' %>

<div class="container">
  <h1>Getting Started</h1>
  Not sure how to get started? Have no fear, follow one of these links to learn more:
  <ul>
    <li><%= link_to 'Remote Pair Programming', page_path('remote-pair-programming') %></li>
    <li><%= link_to 'Guides', page_path('guides') %></li>
  </ul>

  Other stuff that might be interesting:
  <ul>
    <li><%= link_to 'Berkeley Fall 2012 Projects', page_path('berkeley-fall-2012-projects') %></li>
    <li><%= link_to 'CS Degree Online', page_path('cs-degree-online') %></li>
    <li><%= link_to 'Personal Tuition Service', page_path('personal-tuition-service') %></li>
    <li><%= link_to 'SaaS ELLS ScreenCasts', page_path('saas-ells-screencasts') %></li>
    <li><%= link_to 'Sortable ELLS Errata', page_path('sortable-ells-errata') %></li>
    <li><%= link_to 'Ubuntu Bash Help', page_path('ubuntu-bash-help') %></li>
  </ul>
</div>
