<%= provide :title, 'Remote Pair Programming' %>

<div class="container">
  <h1>Remote Pair Programming</h1>

  <h2>So you want to Remote Pair Program?</h2>
  <div>First you'll need to find someone to pair with, for which we recommend the <a href="https://plus.google.com/communities/100279740984094902927">G+ Pairing Community</a></div>

  <div><br>
  </div>

  <div>Then you'll need some tools. &nbsp;From most simple to most complex here are a few</div>

  <div>
    <ul>
      <li>
        <a href="http://www.google.com/hangouts/">Google Hangout with Screenshare</a>(Chrome or Firefox browser)
        <ul><li><a href="https://support.google.com/plus/answer/1660627?hl=en-GB">Howto</a></li></ul>
      </li>
      <li>
        <a href="http://www.skype.com/">Skype Screenshare</a>(OS X, Windows, Linux)
        <ul>
          <li><a href="https://support.skype.com/en/category/SCREEN_SHARING/">Howto</a></li>
        </ul>
      </li>
      <li>
        <a href="http://madeye.io/">Google Hangout + MadEye</a>(Chrome browser + nodejs install)
      </li>
      <li>
        <a href="https://floobits.com/">Google Hangout + Floobits</a>(Chrome browser + editor install)
      </li>
      <li>
        <a href="http://screenhero.com/">ScreenHero</a>(OS X, Windows)
      </li>
      <li>
        <a href="http://www.teamviewer.com/">TeamViewer</a>(OS X, Windows, Linux)
      </li>
      <li>
        <a href="http://www.agileventures.org/remote-pair-programming/gnu-screen-pairing-notes">GNU Screen</a>(Linux and Unix - on Windows it needs
        <a href="http://cygwin.com/">cygwin</a>)
      </li>
      <li>
        <a href="http://pivotallabs.com/how-we-use-tmux-for-remote-pair-programming/">Tmux</a>(all *nix platforms?)
      </li>
      <li>
        <a href="https://c9.io/">Cloud9</a>
        <ul><li><a href="http://www.agileventures.org/remote-pair-programming/c9-howto">Howto</a></li></ul>
      </li>
      <li>
        <a href="https://www.nitrous.io/">Nitrous io</a>
      </li>
      <li>
        <a href="https://kobra.io/">Kobra io</a>
      </li>
    </ul>
    <div>The last two can nicely be paired with an Amazon EC2 instance. &nbsp;More detailed setup for each coming soon ...</div>
  </div>

  <div><br>
  </div>

  <div>We also recommend Google Hangouts on air:</div>

  <div><br>
  </div>

  <a href="https://plus.google.com/hangouts/_?hso=0&amp;title=EdX%20SaaS&amp;name=EdX%20SaaS&amp;topic=EdX%20SaaS" style="text-decoration:none">
    <img alt="Start a Hangout" src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-60x230-normal.png" style="border:0;width:230px;height:60px"></a>

  <div><br>
  </div>

  <div>Other great RPP resources:</div>

  <div>
    <ul><li>Joe Moore's Blog <a href="http://remotepairprogramming.com">http://remotepairprogramming.com</a></li>
      <li>Avdi's PairWithMe meme <a href="http://pairprogramwith.me">http://pairprogramwith.me</a></li></ul>
    <div>Selection of help videos and protocols</div>
    <div>
      <ul><li><a href="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-help-videos">Pair Programming Help Videos</a></li>
        <li><a href="https://sites.google.com/site/saasellsprojects/remote-pair-programming/pair-programming-protocols">Pair Programming Protocols</a></li></ul>
      <h3>Quotes from EdX SaaS Pair Programmers:</h3>
      <div>
        <div><b>Dag Andre Ivarsøn</b>:</div>
      </div>
    </div>
  </div>

  <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
    <div>
      <div>
        <div>
          <div>I've really learned how to use the debugger during these pairing sessions, and we really drive each other forwards :-) It really helps having someone to talk to.</div>
        </div>
      </div>
    </div>
  </blockquote>

  <div>
    <div>
      <div>
        <div><br>
        </div>
        <div><b>Antoine ModuloM</b>:</div>
      </div>
    </div>
  </div>

  <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
    <div>
      <div>
        <div>
          <div>I'm convinced that 4 brains is really better than one. I've learned a lot and we go through the HW3 till the end. Thank you all!</div>
        </div>
      </div>
    </div>
  </blockquote>

  <div>
    <div>
      <div>
        <div><br>
        </div>
        <div><b>Sunil Manandhar</b>:&nbsp;</div>
      </div>
    </div>
  </div>

  <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
    <div>
      <div>
        <div>
          <div>Pair programming helped me boost my confidence; it helped me gain a motion from where I'd usually stop. There was socializing, sharing, and a synergistic effect. I've improved a lot!</div>
        </div>
      </div>
    </div>
    <div><br>
    </div>
  </blockquote>

  <b>Semyon Vodyannikov:</b><br>
  <blockquote style="margin:0 0 0 40px;border:none;padding:0px">
    <div>When you program alone, if you are stuck, you go spend your time on facebook or theonion.com. But if you pair, you don't get distracted and there is always someone who can give you a hand :)</div>
  </blockquote>

  <div style="margin-top: 50px;">
    <h3>More on remote pair programming</h3>
    <ul>
      <li><%= link_to 'Analysis', page_path('remote-pair-programming/analysis') %></li>
      <li><%= link_to 'C9 Howto', page_path('remote-pair-programming/c9-howto') %></li>
      <li><%= link_to 'Creating a PP Event on G+', page_path('remote-pair-programming/creating-a-pp-event-on-g') %></li>
      <li><%= link_to 'Example Videos', page_path('remote-pair-programming/example-videos') %></li>
      <li><%= link_to 'GNU screen pairing notes', page_path('remote-pair-programming/gnu-screen-pairing-notes') %></li>
      <li><%= link_to 'Pair Programming Calendar', page_path('remote-pair-programming/pair-programming-calendar') %></li>
      <li><%= link_to 'Pair Programming Form', page_path('remote-pair-programming/pair-programming-form') %></li>
      <li><%= link_to 'Pair Programming Help Videos', page_path('remote-pair-programming/pair-programming-help-videos') %></li>
      <li>
        <%= link_to 'Pair Programming Protocols', page_path('remote-pair-programming/pair-programming-protocols') %>
        <ul>
          <li><%= link_to 'Classroom Guidelines', page_path('remote-pair-programming/pair-programming-protocols/classroom-guidelines') %></li>
          <li><%= link_to 'GitHub Pong', page_path('remote-pair-programming/pair-programming-protocols/github-pong') %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
