<div class="container">
  <h1>List of documents for <%= @project.title %></h1>

  <table id="documents" class="table table-striped">
    <thead>
    <tr>
      <th style="width:90%"></th>
      <% if user_signed_in? %>
          <th style="width:15px"></th>
          <th style="width:15px"></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @documents.each do |document| %>
        <tr id="<%=document.id%>">
          <td><h3><%= link_to document.title, project_document_path(id: document.id, project_id: document.project_id) %></h3>
            <%=  clean_html_summary(document.body) if document.body.present? %></td>
          <% if user_signed_in? %>
              <td><%= link_to 'Edit', mercury_edit_path(project_document_path(id: document.id, project_id: document.project_id)), type: 'button', :class => 'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Destroy', project_document_path(id: document.id, project_id: document.project_id), type: 'button', class: 'btn btn-danger btn-xs', method: :delete %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>

  </table>


  <br>
  <% if user_signed_in? %>
      <%= link_to 'New Document', new_project_document_path(project_id: @project.id), :type => 'button', :class => 'btn btn-default' %>
  <% end %>
</div>

