<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <div id="document_title" data-mercury="full">
    <%= @document.title %>
  </div>
</p>

<p>
  <strong>Body:</strong>
  <div id="document_body" data-mercury="full">
    <%= @document.body %>
  </div>
</p>

<p>
  <strong>Project:</strong>
  <%= @document.project_id %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', mercury_edit_path, id: 'edit_link',
            data: { save_url: project_document_mercury_update_path(@project, @document) }%>
<% end %>
<%= link_to 'Back', project_documents_path(project_id: @document.project_id) %>
