<% provide :title, "#{@document.title} - #{@project.title}" %>

<!-- Modal -->
<div class="modal fade" id="DocSections" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalTitle">Select new section for the document</h4>
      </div>
      <div class="modal-body" style="overflow: auto;">
      </div>
    </div>
  </div>
</div>

<div>
  <strong><%= link_to 'List of Projects', projects_path %></strong> <i class="fa fa-angle-double-right"></i>
  <strong><%= link_to @project.title, project_path(@project) %></strong> <i class="fa fa-angle-double-right"></i>
  <% unless @document.root? %>
    <strong><%= link_to @document.parent.title, project_document_path(@project, @document.parent) %></strong>
    <i class="fa fa-angle-double-right"></i>
  <% end %>
  <strong><%= @document.title %></strong>
</div>

<h1>
  <div id="document_title" style="width: 100%;" data-type="editable"><%= @document.title %></div>
</h1>
<% if user_signed_in? %>
  <ul class="user-controls">
    <li><%= custom_css_btn 'edit', 'fa fa-pencil-square-o fa-2x', edit_project_document_path(@project, @document), id: 'edit_link' %></li>
    <% if @document.root? %>
      <li><%= custom_css_btn 'new sub-document', 'fa fa-file-text-o fa-2x', new_project_document_path(project_id: @project.friendly_id, parent_id: @document.id), id: 'new_document_link' %></li>
    <% end %>
    <li><%= custom_css_btn 'change section', 'fa fa-cogs fa-2x', project_document_sections_path(project_id: @project.id, id: @document), id: 'change_parent_link', 
        data: { toggle: "modal", target: "#DocSections" } %></li>
  </ul>
<% end %>
<div class="doc-status-text">
  <div><%= metadata %></div>
</div>

<div id="document_body" data-type="editable"><%= clean_html(@document.body) %></div>

<% if user_signed_in? %>
  <%= link_to 'Save', '', id: 'save_link', class: 'btn btn-default', style: 'display:none;' %>
  <%= link_to 'Cancel', '', id: 'cancel_link', class: 'btn btn-default', style: 'display:none;' %>
<% end %>
<div class="small-divider"></div>
<div>
  <% if @document.versions.count > 1 %>
    <a id="revisions-anchor" href="#" h4 style="display: inline-flex;">Revisions</h4><i id="arrow" class="fa fa-arrow-down fa-lg" style="display:inline-flex;margin-left:5px;position:relative;top:2px;"></i></a>
    <div style="margin-bottom: 20px">
      <div id="revisions" style="display: none;">
      <% @document.versions.each do |version| %>
        <%= user_details(version.whodunnit.to_i) %>
        <%= version.event %>d <b>"<%= @document.title %>"</b>  <%= time_ago_in_words(version.created_at) %> ago<br/>
      <% end %>
      </div>
    </div>
  <% end %>
  <br/>
  <% unless @children.empty? %>
    <% if @document.root? %>
      <h2>Sub-documents</h2>
    <% end %>
    <ul class="listings">
      <% @children.each do |child| %>
        <li class="listings-item">
          <strong><%= link_to child.title, project_document_path(@project, child) %></strong> -
          <i>created by <%= child.user.display_name %> <%= time_ago_in_words(child.created_at) %> ago</i>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
