<div class='row'>
  <div class='col-sm-8'>
    <%= form_for @project, html: { role: 'form', id: 'project_form' } do |f| %>

      <%= awesome_text_field f, :title, placeholder: 'Name' %>
      <div id='help-link'>
        You can upload an image at
        <a href='https://imgur.com/upload' target="_blank">
          imgur.com/upload
        </a>
      </div>
      <%= awesome_text_field f, :image_url, placeholder: 'Paste a link to your image here' %>
      <%= awesome_text_area f, :description, rows: 10, placeholder: 'Description' %>
      
      <% if current_user.admin? %>
        <div class='form-group'>
          <%= f.label :status %>
          <%= f.select :status, %w( Active Closed Pending ), {}, :class => 'form-control input-lg' %>
        </div>
      <% end %>

      <div id='source_repositories' class='form-group'>
        <%= f.fields_for :source_repositories do |source_repository| %>
          <%= render 'source_repository_fields', f: source_repository %>
        <% end %>
        <div class='links form-group'>
          <%= link_to_add_association 'Add more repos', f, :source_repositories, class: 'btn btn-default' %>
        </div>
      </div>

      <div id="issue_trackers" class="form-group"> 
        <%= f.fields_for :issue_trackers do |issue_tracker| %>
          <%= render 'issue_tracker_fields', f: issue_tracker %>
        <% end %>
        <div class= 'links form-group'>
          <%= link_to_add_association 'Add more trackers', f, :issue_trackers, class: 'btn btn-default'%>
        </div>
      </div>

      <%= awesome_text_field f, :slack_channel_name, label_text: 'Slack channel name', placeholder: 'project_slack_channel_name' %>

      <% if @project.new_record? %>
        <div class="form-group">
          <h3>New project checklist</h3>
          <p>What to do next:</p>
          <ul>
            <li>Attend one of the scrums</li>
            <li>Share the project with the members</li>
            <li>Start a Hangout!</li>
          </ul>
          <p>Ready to kick things off?</p>
        </div>
      <% end %>
      <div class='form-group'>
        <%= link_to 'Back', (@project.id.nil? ? projects_path : project_path(@project)), :type => 'button', :class => 'btn btn-default'%>
        <%= f.submit 'Submit', :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
