<% unless @videos.empty? %>
    <div class="col-sm-12">
      <h4 id="video_contents"><%= @videos.first[:content] %></h4>

      <div class="video-container">
        <iframe id="ytplayer" type="text/html" width="480" height="320" src="<%= video_embed_link(@videos.first) %>" frameborder="0"></iframe>
      </div>
    </div>
    <div class="col-sm-12">
      <h2>List of Project videos</h2>
      <table class="table table-bordered table-striped table-hover table-condensed" style="margin-left: -15px; width: 100%;">
        <tr>
          <th>Video</th>
          <th style="width: 80px;">Host</th>
          <th style="width: 80px;">Published</th>
        </tr>
        <% @videos.each do |video| %>
            <tr style="font-size: 85%">
              <td><%= video_link(video) %></td>
              <td><%= video[:author] %></td>
              <td><%= video[:published].to_s(:db) %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% else %>
    <p>No videos in project <strong><%= @project.title %></strong></p>
<% end %>