<% provide :title, 'Projects' %>
  <div class="row">
    <div class="col-xs-9">
      <h1 id="projects-header">Projects By Recent Activity</h1>
    </div>
    <div class="col-xs-3">
      <% if user_signed_in? %>
        <ul class="user-controls new-project-btn">
          <li><%= custom_css_btn 'new project', 'fa-2x fa fa-plus', new_project_path %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <% if @projects.empty? %>
    <p>We have no projects right now&#8230;</p>
  <% else %>
    <div class="col-sm-12 well">
    <p>Filter projects by</p>
    <%= form_tag(projects_path, remote: true, method: "get", class: "form-inline text-left") do %>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <%= select_tag :project_filter, options_for_select(@projects_languages_array), {prompt: 'Language...', class: 'form-control'} %>
          </div>
          <div class="col-xs-12 col-sm-4">
            <%= submit_tag 'Search', class: 'btn btn-default' %>
          </div>
          <div id="project-filters">
          </div>
        </div>
    </div>
    <p>
      To get involved in any of the projects, join one of the
      <%= link_to 'scrums', events_path %>
      and reach out to us, or send us an email at
      <a href="mailto:info@agileventures.org">info@agileventures.org</a>.
    </p>
    <nav id="sidebar">
      <%= render partial: 'layouts/sidebar', locals: { project: @project, document: @document } %>
    </nav>
  <% end %>
<% end %>
