<h1>List of Projects</h1>
<%= will_paginate @projects %>
<ul style="list-style: none; padding-left: 0;">
  <% if @projects.empty? %>
    <li>No projects were found, wait wha..?</li>
  <% else %>
    <% @projects.each do |project| %>
    <a href="<%= project_path(project) %>">
      <li class="project-listing"><%= render 'listing', project: project %></li>
    </a>
    <% end %>
  <% end %>
</ul>
<%= will_paginate @projects %>

<% if user_signed_in? %>
  <%= link_to 'New Project', new_project_path, :type => 'button', :class => 'btn btn-default' %>
<% end %>
