<table id="projects" class="table table-striped">
  <thead>
  <legend>List of Projects</legend>
  <tr>
    <th style="width:90%"></th>
    <th style="width:15px"></th>
    <% if user_signed_in? %>
        <th style="width:15px"></th>
        <th style="width:15px"></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
      <tr id="<%=project.id%>" >
      <td><h3><%= link_to project.title, project_path(project.id) %></h3>
        <small>Status: <%= project.status %> Created: <%= project.created_at.strftime("%Y-%m-%d") %></small>
       <p><%= project.description.truncate(250, separator: ' ') %></p> </td>
      <td><%= link_to 'Documents', project_documents_path(project.id), :type => 'button', :class => 'btn btn-default btn-xs' %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_project_path(project.id) , type: 'button', :class => 'btn btn-primary btn-xs'%></td>
        <td><%= link_to 'Destroy', project_path(project.id), type: 'button', class: 'btn btn-danger btn-xs', method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>

</table>
<% if user_signed_in? %>
<%= link_to 'New Project', new_project_path, :type => 'button', :class => 'btn btn-default'%>
<% end %>
