<table id="projects">
  <thead>
  <legend>List of Projects</legend>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Created</th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.description %></td>
      <td><%= p.status %></td>
      <td><%= p.created_at %></td>
      <td><%= link_to 'Show', project_path(p.id) , type: 'button', :class => 'btn btn-default'%></td>
      <td><%= link_to 'Edit', edit_project_path(p.id) , type: 'button', :class => 'btn btn-default'%></td>
      <td><%= link_to 'Destroy', project_path(p.id), type: 'button', class: 'btn btn-default', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>

</table>
<% if user_signed_in? %>
<%= link_to 'New Project', new_project_path, :type => 'button', :class => 'btn btn-default'%>
<% end %>
