<h1> <%= @project.title %> project</h1>
<small>Status: <%= @project.status %> Created: <%= @project.created_at %></small>
<div>
  <% if user_signed_in? %>
      <% unless @user.following?(@project) %>
          <%= link_to 'Join this project', follow_project_path(@project) , :type => 'button', :class => 'btn btn-success btn-xs' %>
      <% else %>
          <%= link_to 'Leave project', unfollow_project_path(@project), :type => 'button', :class => 'btn btn-danger btn-xs' %>
      <% end %>
  <% end %>
</div>
<small>This project has <%= @project.followers_count %> members</small>
<p>
  <strong><%= @project.description %></strong>
</p>

<div>
  <%= link_to 'Back', projects_path, :type => 'button', :class => 'btn btn-default' %>
  <% if user_signed_in? %>
      <%= link_to 'New Document', new_project_document_path(project_id: @project.id), :type => 'button', :class => 'btn btn-default' %>
  <% end %>
</div>


