<% provide :title, @project.title %>

<div class="project-title">
  <div class="row">
    <div class="col-xs-12">
      <strong><%= link_to 'Projects', projects_path %></strong> <i class="fa fa-angle-double-right"></i>
      <strong><%= @project.title %></strong>
      <h1><%= @project.title %></h1>
      <p><%= clean_html @project.description %></p>
      <hr>
      <div class="project-edit">
        <% if user_signed_in? %>
          <% if current_user.following?(@project) %>
            <% # custom_css_btn 'edit', 'fa fa-pencil-square-o', edit_project_path(@project) %>
            <%= link_to 'Edit Project Details', edit_project_path(@project) %>
            <% # custom_css_btn 'leave project', 'fa fa-star', unfollow_project_path(@project) %>
            <a href="<%= unfollow_project_path(@project) %>" data-toggle="tooltip" data-placement="top" title="leave project">Leave Project</a>  
            <div class="hangout-btn pull-right">
              <%= render partial: 'hangouts/hangout_button', locals: {hangout_id: '', event_id: '', category: 'PairProgramming', project_id: @project.id, title: "PairProgramming on #{@project.title}"} %>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="project-main">
  <div class="row">
    
    <div class="project-sidebar col-xs-12 col-md-4 col-md-push-8" role="complementary">
      <%= render 'highlight_box', members: @members %>
      <%= render 'connections' %>
      <%= render 'members_list', members: @members %>
    </div>

    <div class="project-main col-xs-12 col-md-8 col-md-pull-4">
      <ul class="nav nav-tabs nav-justified">
        <li id="pitch" class="active">
          <a href="#pitch_content" data-toggle="tab">Home</a>
        </li>
        <li id="documents">
          <a href="#documents_list" data-toggle="tab">Documents (<%= @documents.roots.count %>)</a>
        </li>
        <li id="videos">
          <a href="#videos_list" data-toggle="tab">Videos (<%= @videos.count %>)</a>
        </li>
        <li id="activities">
          <a href="#activities_list" data-toggle="tab">Activity (<%= @stories.count %>)</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="background: #fff;">
        <div class="tab-pane active" id="pitch_content">
          <% unless @project.pitch.nil? %>
          <%= @project.pitch %>
          <% else %>
          <p><b>Project content missing :(</b></p>
          <p>A compelling pitch can make your project <a href="https://www.kickstarter.com/discover/categories/technology?ref=discover_index">more appealing</a> to potential collaborators. Please edit project details to add pitch content.</p>
          <% end %>
        </div>
        <div class="tab-pane" id="documents_list">
          <% if user_signed_in? %>
            <ul class="user-controls">
              <li><%= custom_css_btn 'new document', 'fa fa-file-text-o', new_project_document_path(project_id: @project.friendly_id) %></li>
              <% if current_user.following?(@project) %>
                
              <% end %>
            </ul>
          <% end %>
          <%= render 'documents_list' %>
        </div>
        <div class="tab-pane" id="videos_list">
          <%= render 'videos_list' %>
        </div>
        <div class="tab-pane activity" id="activities_list">
          <%= render 'activity' %>
        </div>
      </div>
    </div>
  </div>
</div>
