<h1> <%= @project.title %> project</h1>
<small>Status: <%= @project.status %> <%= created_date %> <%= project_created_by %></small>
<div>
  <% if user_signed_in? %>
      <% unless current_user.following?(@project) %>
          <%= link_to 'Join this project', follow_project_path(@project) , :type => 'button', :class => 'btn btn-success btn-xs' %>
      <% else %>
          <%= link_to 'Leave project', unfollow_project_path(@project), :type => 'button', :class => 'btn btn-danger btn-xs' %>
          <div id="HOA-placeholder"></div>
      <% end %>
  <% end %>
</div>
<small>This project has <%= @project.followers_count %> members</small>
<p>
  <strong><%= @project.description %></strong>
</p>



<div>
  <% if user_signed_in? %>
      <%= link_to 'Edit', edit_project_path(@project.friendly_id), type: 'button', :class => 'btn btn-primary' %>
      <%= link_to 'New Document', new_project_document_path(project_id: @project.friendly_id), :type => 'button', :class => 'btn btn-default' %>
  <% end %>
</div>

<ul class="list-group">
  <% unless @project.documents.empty? %>
    <h2>Related documents</h2>
    <% @project.documents.roots.each do |d| %>
          <li class="list-group-item"><strong><%= link_to d.title, project_document_path(@project, d) %></strong></li>
    <% end %>
  <% end %>
</ul>

<script src="https://apis.google.com/js/platform.js"></script>

<script>
    gapi.hangout.render('HOA-placeholder', {
        'topic': '<%= @project.title%> - Pairing session',
        'render': 'createhangout',
        'hangout_type': 'onair',
        'initial_apps': [{'app_id' : '463111787485', 'app_type' : 'ROOM_APP' }],
    });
</script>




