<% provide :title, @project.title %>
<%= javascript_include_tag 'projects' %>
<%= javascript_include_tag 'users' %>

<div>
  <strong><%= link_to 'List of Projects', projects_path %></strong> <i class="fa fa-angle-double-right"></i>
  <strong><%= @project.title %></strong>
</div>

<div id="doc-box">
  <h1><%= @project.title %></h1>

  <% if user_signed_in? %>
    <ul class="user-controls">
      <li><%= custom_css_btn 'edit', 'fa fa-pencil-square-o', edit_project_path(@project) %></li>
      <li><%= custom_css_btn 'new document', 'fa fa-file-text-o', new_project_document_path(project_id: @project.friendly_id) %></li>
      <% if current_user.following?(@project) %>
        <li><%= custom_css_btn 'leave project', 'fa fa-star', unfollow_project_path(@project) %></li>
        <li class="btn-hoa">
          <div id="HOA-placeholder" data-hoa-title="<%= @project.title %> Pairing: "></div>
        </li>
      <% else %>
        <li><%= custom_css_btn 'join project', 'fa fa-star-o', follow_project_path(@project) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @project.github_url.present? %>
    <p><i class="fa fa-github-alt fa-lg"></i>
      <%= link_to "#{@project.github_url.split('/').last} ", @project.github_url %>on GitHub</p>
  <% else %>
    <p><i class="fa fa-github-alt fa-lg"></i> not linked to GitHub</p>
  <% end %>

  <% if @project.pivotaltracker_url.present? %>
    <p><i class="fa fa-gear fa-lg"></i>
      <%= link_to "#{@project.title} ", @project.pivotaltracker_url %>on PivotalTracker</p>
  <% else %>
    <p><i class="fa fa-gear fa-lg"></i> not linked to PivotalTracker</p>
  <% end %>

  <div class="doc-status-text">
    <div>Status: <strong style="font-style: normal;"><%= @project.status.upcase %></strong></div>
    <div><%= "Created #{time_ago_in_words(@project.created_at)} ago" %> by <%= @project.user.display_name %></div>
  </div>
  <div class="small-divider"></div>
  <p><strong><%= @project.description %></strong></p>
</div>

<div class="small-divider"></div>

<ul class="nav nav-tabs">
  <li id="documents" class="active">
    <a href="#documents_list" data-toggle="tab">Documents (<%= @documents.roots.count %>)</a>
  </li>
  <li id="members">
    <a href="#members_list" data-toggle="tab">Members (<%= @members.count %>)</a>
  </li>
  <li id="videos">
    <a href="#videos_list" data-toggle="tab">Videos (<%= @videos.count %>)</a>
  </li>
  <li id="activities">
    <a href="#activities_list" data-toggle="tab">Activity (<%= @stories.count %>)</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="documents_list">
    <% unless @documents.empty? %>
      <h2>Related documents</h2>
      <ul class="listings">
        <% @documents.roots.each do |d| %>
          <li class="listings-item">
            <% num_children = d.children.count %>
            <strong><%= link_to d.title, project_document_path(@project, d) %></strong> <%= "(#{num_children})" if num_children > 0 %>
            -
            <i>created by <%= d.user.display_name %> <%= time_ago_in_words(d.created_at) %> ago</i>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p style="margin-top: 20px;">No documents can be found for project <strong><%= @project.title %></strong></p>
    <% end %>
  </div>
  <div class="tab-pane" id="members_list">
    <%= render 'members_list', members: @members %>
  </div>
  <div class="tab-pane" id="videos_list">
    <div class="row">
      <% if @videos.empty? %>
        <p style="margin-top: 20px;">No videos in project <strong><%= @project.title %></strong></p>
      <% else %>
        <div class="col-sm-12">
          <h4 id="video_contents"><%= @videos.first[:content] %></h4>
          <iframe id="ytplayer" type="text/html" width="480" height="320"
                  src="<%= video_embed_link(@videos.first) %>" frameborder="0"></iframe>
        </div>
        <div class="col-sm-12">
          <h2>List of Project videos</h2>
          <table class="table table-bordered table-striped table-hover table-condensed" style="margin-left: -15px; width: 100%;">
            <tr>
              <th>Video</th>
              <th style="width: 80px;">Host</th>
              <th style="width: 80px;">Published</th>
            </tr>
            <% @videos.each do |video| %>
              <tr style="font-size: 85%">
                <td><%= video_link(video) %></td>
                <td><%= video[:author] %></td>
                <td><%= video[:published].to_s(:db) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane activity" id="activities_list">
    <%= render 'activity' %>
  </div>

</div>

