<% provide :title, @project.title %>
<div class="project-title">
  <div class="row">
    <div class="col-xs-12">
      <strong><%= link_to 'Projects', projects_path %></strong> <i class="fa fa-angle-double-right"></i>
      <strong><%= @project.title %></strong>

      <div class="row">
        <% if @project.image_url.present? %>
          <div id="project_image" class="col-xs-2">
            <%= image_tag @project.image_url, class: "img-responsive" %>
          </div>
        <% end %>
        <div id="project_title" class="col-xs-10">
          <h1><%= @project.title %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"><p> <%= clean_html @project.description %></p>
        </div>
      </div>
      <hr>
      <div class="project-edit">
        <% if user_signed_in? %>
            <ul class="list-inline">
            <% if current_user.following?(@project) %>
                  <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="actions-dropdown" data-toggle="dropdown">
                      Project Actions
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="actions-dropdown">
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="<%= edit_project_path(@project) %>">Edit Project Details</a></li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="<%= new_project_document_path(project_id: @project.friendly_id) %>">Create new document</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="<%= unfollow_project_path(@project) %>">Leave Project</a>
                      </li>
                    </ul>
                  </li>
                <li class="hangout-btn">
                  <%= button_to 'Start Hangout Instructions', 'https://support.google.com/youtube/answer/7083786', id: 'hoa_instructions', class: "btn btn-primary", form: {target: '_blank'} %>
                </li>
                </ul>
                <hr>
            <% else %>
                <div>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                    Start Live Hangout
                  </button>
                  <%= link_to @project.jitsi_room_link, target: '_blank' do %>
                    <button type="button" class="btn btn-primary" id='start-jitsi'>
                      Start Jitsi Meet
                    </button>
                  <% end %>
                </div>
                <hr>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Info</h4>
                      </div>
                      <div class="modal-body">
                        <p>You should join this project before you can start the hangouts</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="project-main">
  <div class="row">
    <div class="project-sidebar col-xs-12 col-md-4 col-md-push-8 hidden-xs" role="complementary">
      <%= render 'highlight_box', members: @members %>
      <%= render 'connections' %>
      <%= render 'members_list', members: @members %>
    </div>

    <div class="project-main col-xs-12 col-md-8 col-md-pull-4">
      <ul class="nav nav-tabs nav-justified">
        <li id="pitch" class="active">
          <a href="#pitch_content" data-toggle="tab" data-hash="home">About</a>
        </li>
        <li id="documents">
          <a href="#documents_list" data-toggle="tab" data-hash="document">Documents (<%= @documents.roots.count %>)</a>
        </li>
        <li id="videos">
          <a href="#videos_list" data-toggle="tab" data-hash="video">Videos (<%= @event_instances_count %>)</a>
        </li>
        <li id="activities">
          <a href="#activities_list" data-toggle="tab" data-hash="activity">Activity (<%= @stories.count %>)</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="background: #fff;">
        <div id="pitch_content" class="tab-pane active">
          <% unless @project.pitch.nil? %>
              <%= clean_html(@project.pitch) %>
          <% else %>
              <p><b>Project content missing :(</b></p>

              <p>A compelling pitch can make your project
                <a href="https://www.kickstarter.com/discover/categories/technology?ref=discover_index">more
                  appealing</a> to potential collaborators. Please add a README to your project in GitHub.</p>
          <% end %>
        </div>
        <div class="tab-pane" id="documents_list">
          <%= render 'documents_list' %>
        </div>
        <div class="tab-pane" id="videos_list">
          <%= render 'videos_list' %>
        </div>
        <div class="tab-pane activity" id="activities_list">
          <%= render 'activity' %>
        </div>
      </div>
    </div>
  </div>
</div>
