<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="<%= about_tab(param_tab)%>"><a href="#about" data-toggle="tab">About</a></li>
  <% if presenter.has_skills? %>
      <li><a href="#user-skills" data-toggle="tab">Skills</a></li>
  <% end %>
  <% if presenter.joined_projects? %>
      <li><a href="#projects" data-toggle="tab">Projects</a></li>
  <% end %>
  <% if presenter.contributed? %>
    <li class="<%= activity_tab(param_tab)%>"><a href="#activity" data-toggle="tab">Activity</a></li>
  <% end %>
</ul>
<div id="tab-content" class="tab-content" style="background: #fff;">

  <div class="tab-pane <%= about_tab(param_tab) %>" id="about">
    <section class="user-bio">
      <h4>About me</h4>
      <% if presenter.bio? %>
          <%= simple_format(presenter.bio) %>
      <% else %>
          <p>This member has not written his bio yet...</p>
      <% end %>
    </section>
  </div>

  <% if presenter.has_skills? %>
      <div class="tab-pane" id="user-skills">
        <section class="user-skills">
          <h4>Skills & Technologies</h4>
          <ul>
            <% presenter.skill_list.each do |skill| %>
                <li class="label add-btn-agile"><%= skill %></li>
            <% end %>
          </ul>
        </section>
      </div>
  <% end %>
  <% if presenter.joined_projects? %>
      <div class="tab-pane" id="projects">
        <section class="user-projects">
          <h4>Project Involvement</h4>
          <ul>
            <% presenter.following_projects.each do |project| %>
                <li><%= link_to project.title, project_path(project) %></li>
            <% end %>
          </ul>
        </section>
      </div>
  <% end %>
  <% if presenter.contributed? %>
    <div class="tab-pane <%= activity_tab(param_tab) %>"id="activity">
        <section class="user-contributions">
          <h4>Contributions (GitHub) - <%= presenter.user.commit_count_total %> total commits x 1 - <%=presenter.user.commit_count_total %><i class="fa fa-fire"></i></h4>
          <ul>
            <% presenter.contributions.each do |commit_count| %>
                <li><b><%= link_to commit_count.project.title, commit_count.project.contribution_url %></b>
                  - <%= commit_count.commit_count %> commits</li>
            <% end %>
          </ul>
        </section>
        <section class="user-contributions">
          <h4>Contributions (Hangouts Hosted) - <%= presenter.user.number_hangouts_started_with_more_than_one_participant %> total hangouts x 1 - <%= presenter.user.number_hangouts_started_with_more_than_one_participant %><i class="fa fa-fire"></i></h4>
        </section>
        <section class="user-contributions">
          <h4>Contributions (Hangouts Attended) - <%= presenter.user.hangouts_attended_with_more_than_one_participant %> total hangouts x 1 - <%= presenter.user.hangouts_attended_with_more_than_one_participant %><i class="fa fa-fire"></i></h4>
        </section>
        <section class="user-contributions">
          <h4>Contributions (Authentications) - <%= presenter.user.authentications.count %> authentications x 100 - <%= presenter.user.authentications.count * 100 %><i class="fa fa-fire"></i></h4>
        </section>
        <section class="user-contributions">
          <h4>Contributions (Profile Completeness) - <%= presenter.user.profile_completeness %> out of 10<i class="fa fa-fire"></i></h4>
        </section>
        <section class="user-contributions">
          <h4>Contributions (Membership Length) - <%= presenter.user.membership_length %> out of 6<i class="fa fa-fire"></i></h4>
        </section>
        <section class="user-contributions">
          <h4>Contributions (Sign In Activity) - <%= presenter.user.activity %> out of 6<i class="fa fa-fire"></i></h4>
        </section>
      </div>
  <% end %>
</div>




