<div class="col-md-12 col-sm-6 col-xs-12" style="padding: 0">
  <%= presenter.gravatar_image(size: 250,
                               class: 'img-rounded media-object pull-left') %>
</div>

<div class="col-md-12 col-sm-6 col-xs-12 user-summary" style="padding: 0">
  <ul>
    <h3><%= presenter.display_name %> <a href="#" id="gotoactivity"><span class="karma-summary"><i class="fa fa-fire"></i><%= presenter.karma_total %></span></a></h3>
    <% if presenter.has_title? %>
        <li>
          <%= presenter.title_list %>
        </li>
    <% end %>
    <% if presenter.country_name? %>
        <li><i class="fa fa-globe fa-lg"></i> <%= presenter.country_name %></li>
    <% end %>
    <li>
      <i class="fa fa-calendar-o fa-lg"></i>
      Member for <%= presenter.object_age_in_words %>
    </li>

    <% if presenter.github_profile_url? %>
        <li>
          <i class="fa fa-github-alt fa-lg"></i>
          <%= presenter.github_link %>
        </li>
    <% end %>

    <% if presenter.display_email %>  
        <li><i class="fa fa-envelope fa-lg"></i> <%= mail_to presenter.email %></li>
    <% end %>

    <% if @user.online? & presenter.status? %>
        <li><span class="glyphicon glyphicon-comment"> </span> "<%= presenter.status %>"
        </li>
    <% end %>

    <% if presenter.display_hire_me?(current_user) %>
        <li>
          <%= link_to user_path(presenter.user), remote: true,
                       class: 'user-profile-btn',
                       type: 'button',
                       data: {toggle: 'modal', target: '#modal-window'} do %>
            <i class="fa">Hire me</i>
          <% end %>
        </li>
    <% end %>

    <% if presenter.object.eql?(current_user) %>
        <li>
          <%= link_to 'Edit', edit_user_registration_path,
                      class: 'user-profile-btn',
                      type: 'button' %>
        </li>
        <li>
          <p><%= link_to 'Set status', '#',
                         data: {toggle: 'modal',
                                target: '#myModal'},
                         class: 'user-profile-btn',
                         type: 'button' %></p>
        </li>
        <li>
          <% unless presenter.user.membership_type == 'Basic' %>
            <%= render 'edit_card' %>
          <% end %>
        </li>
    <% end %>
      <li style="margin-top: 0.7em">
        <%= presenter.user.membership_type %> Member
      </li>
      <% if presenter.user.membership_type == 'Premium' %>
        <li><%= render 'users/profile/premium_mob_upgrade', presenter: presenter  %></li>
      <% elsif presenter.user.membership_type == 'Basic' %>
        <li><%= render 'users/profile/premium_upgrade', presenter: presenter %></li>
      <% end %>
  </ul>
  <% if privileged_visitor? %>
    <%= render 'users/profile/set_level', presenter: presenter %>
  <% end %>
</div>
