<% unless videos.blank? %>
  <div class="row">
    <% present videos.first do |presenter| %>
      <h4 id="video_contents"><%= presenter.title %></h4>

      <div class="col-xs-12 text-center">
        <div class="video-container">
          <iframe id="ytplayer" width="480" height="320" type="text/html" src="<%= presenter.video_embed_link %>" frameborder="0"></iframe>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h4>Latest pairing videos by <%= presenter.display_name %></h4>
    <table class="table table-bordered table-striped table-hover table-condensed">
      <tr>
        <th>Title</th>
      </tr>
      <% videos.each do |video| %>
        <% present video do |presenter| %>
          <tr>
            <td><%= presenter.video_link %> <small><%= presenter.created_at %></small></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
<% else %>
    <div class="col-sm-12">
      <p><%= presenter.display_name %> has no publicly viewable Youtube videos.</p>
    </div>
<% end %>
