<% if @sponsored_user %>
    <h2 id='payment_complete'>Thanks, you have sponsored <%= @user.display_name %> as a <%= @plan.name %> Member!</h2>
    <% if @plan.free_trial? %>
      <p>A <%= @plan.free_trial_length_days %> day free trial has now started.  You will not be charged until <%= @plan.free_trial_length_days %> days have passed.</p>
    <% end %>
    <p>An AgileVentures mentor will be in touch shortly to help <%= @user.display_name %> receive all their membership benefits.</p>
<% else %>
  <% if @plan.category == 'organization' %>
    <h2 id='payment_complete'>Thanks, your organization has now subscribed to the AgileVentures <%= @plan.name %> Plan!</h2>
  <% else %>
    <h2 id='payment_complete'>Thanks, you're now an AgileVentures <%= @plan.name %> Member!</h2>
  <% end %>
  <% if @plan.free_trial? %>
      <p>Your <%= @plan.free_trial_length_days %> day free trial has now started. Your card will not be charged until <%= @plan.free_trial_length_days %> days have passed.</p>
  <% end %>
  <% if @plan.category == 'organization' %>
    <p>An AgileVentures specialist will be in touch shortly to help you receive all of your subscription benefits.</p>
  <% else %>
    <p>An AgileVentures mentor will be in touch shortly to help you receive all of your membership benefits.</p>
  <% end %>
<% end %>

<!-- Google Code for Premium Membership Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 862234872;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "_f0WCKX8jm4Q-NGSmwM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/862234872/?label=_f0WCKX8jm4Q-NGSmwM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

<!--  looks like label varies in just those two places  -->