<article>
  <h1>Agile Ventures <%= @plan.name %> <%= type %></h1>
  <br/>
  <a href='/<%= @plan.name.downcase.gsub(' ','_') %>'>Further details</a>
  <label class="amount">
    <p>The price for <%= @plan.name %> <%= type %> is £<%= number_to_currency(@plan.amount / 100.0, unit: '') %>/Month</p>
    <% if @plan.free_trial? %>
       <p><%= @plan.free_trial_length_days %> day free trial! No charge for <%= @plan.free_trial_length_days %> days</p>
    <% end %>
  </label>
  <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
  <% end %>
  <br/>
</article>
<div class="row">
  <div id="paypal_section" class="col-lg-5 well" style="margin: 10px; text-align: center;"> <!-- shiv because controller stylesheets now working in production mode see https://github.com/AgileVentures/WebsiteOne/issues/1450-->
    <div style="margin-bottom: 15px;"><%= action_text %> <%= @plan.name %> via Paypal:</div>
    <%= form_tag paypal_api_path, method: "post" do %>
      <input type="image" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/44_Yellow_PayPal_Pill_Button.png" alt="Subscribe" name="submit">
      <img alt="" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    <% end %>
  </div>

  <div id="card_section" class="col-lg-5 well" style="margin: 10px; text-align: center;"> <!-- shiv because controller stylesheets now working in production mode see https://github.com/AgileVentures/WebsiteOne/issues/1450-->

    <div style="margin-bottom: 15px;"><%= action_text %> <%= @plan.name %> via Credit/Debit Card:</div>
    <%= form_tag subscriptions_path(plan: @plan.third_party_identifier, user: @upgrade_user) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Monthly Subscription"
                data-amount="<%= @plan.amount %>"
                data-panel-label="Subscribe"
                data-currency="GBP"
                data-locale="en-US"
                data-name="<%= @plan.name %> <%= type %>"
                data-label="Subscribe"
                data-image="/favicon.ico?v=2"></script>
    <% end %>

  </div>
</div>

<!-- <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track' => true  %> -->
