<article>
  <h1>Agile Ventures Premium <%= type %></h1>
  <br/>
  <a href='/premium'>Further details</a>
  </p>
  <label class="amount">
    <p>The price for Premium <%= type %> is £10.00/Month</p>
    <p>7 day free trial! No charge for 7 days</p>
  </label>
  <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
  <% end %>
  <br/>
</article>
<div class="row">
  <div id="paypal_section" class="col-lg-5 well" style="margin: 10px; text-align: center;"> <!-- shiv because controller stylesheets now working in production mode see https://github.com/AgileVentures/WebsiteOne/issues/1450-->
    <div style="margin-bottom: 15px;"><%= action_text %> via Paypal:</div>
    <%= form_tag Settings.paypal.form_url, method: "post", target: "_blank" do %>
      <!--<form action="<%= Settings.paypal.form_url %>" method="post" target="_blank">-->

      <!-- Identify your business so that you can collect the payments. -->
      <input type="hidden" name="business" value="<%= Settings.paypal.email%>">

      <!-- Specify a Subscribe button. -->
      <input type="hidden" name="cmd" value="_xclick-subscriptions">

      <!-- Identify the subscription. -->
      <input type="hidden" name="item_name" value="Premium">
      <input type="hidden" name="item_number" value="<%= @upgrade_user || 'not logged in' %>">

      <!-- Set the terms of the 1st trial period. -->
      <input type="hidden" name="currency_code" value="GBP">
      <input type="hidden" name="a1" value="0">
      <input type="hidden" name="p1" value="7">
      <input type="hidden" name="t1" value="D">

      <!-- Set the terms of the regular subscription. -->
      <input type="hidden" name="a3" value="10.00">
      <input type="hidden" name="p3" value="1">
      <input type="hidden" name="t3" value="M">

      <!-- Set recurring payments until canceled. -->
      <input type="hidden" name="src" value="1">

      <!-- don't ask user for address. -->
      <input type="hidden" name="no_shipping" value="1">

      <!-- url to return to on success -->
      <input type="hidden" name="return" value="<%= paypal_return_url %>">
      <!--<input type="hidden" name="return" value="">-->

      <!-- do a post -->
      <input type="hidden" name="rm" value="2">

      <!-- Display the payment button. -->
      <input type="image" name="submit"
             src="<%= Settings.paypal.form_asset_root %>/en_GB/i/btn/btn_subscribe_LG.gif"
             alt="Subscribe">
      <img alt="" width="1" height="1"
           src="<%= Settings.paypal.form_asset_root %>/en_GB/i/scr/pixel.gif" >
    <% end %>
  </div>

  <div id="card_section" class="col-lg-5 well" style="margin: 10px; text-align: center;"> <!-- shiv because controller stylesheets now working in production mode see https://github.com/AgileVentures/WebsiteOne/issues/1450-->

    <div style="margin-bottom: 15px;"><%= action_text %> via Credit/Debit Card:</div>
    <%= form_tag subscriptions_path(plan: 'premium', user: @upgrade_user) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="1000"
                data-currency="GBP"
                data-locale="en-US"
                data-name="Premium Membership"
                data-label="Subscribe"></script>
    <% end %>

  </div>
</div>

<!-- <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track' => true  %> -->
