<%= javascript_include_tag 'scrums' %>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Scrums Page</h1>

    <p>Choose a Scrum to view.</p>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="player" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="playerTitle"><%= @scrums.first[:title] %></h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="<%= scrum_embed_link @scrums.first %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h1 id="timeline">Scrums Timeline</h1>
  </div>
  <% @scrums.each_slice(2) do |videos| %>
      <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-film"></i></div>
          <div class="timeline-panel" style="background-color: lemonchiffon; padding: 10px" >
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <%= scrum_link videos.first %>
                <%= videos.first[:title] %>
              </h4>
              testing
              <p>
                <small class="text-muted"><i class="glyphicon glyphicon-time"></i><%= videos.first[:published].to_date %></small>
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-film"></i></div>
          <div class="timeline-panel" style="background-color: lemonchiffon; padding: 10px" >
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <%= scrum_link videos.last %>
                <%= videos.last[:title] %>
              </h4>

              <p>
                <small class="text-muted"><i class="glyphicon glyphicon-time"></i><%= videos.last[:published].to_s(:db) %></small>
              </p>
            </div>
          </div>
        </li>
      </ul>
  <% end %>
</div>











