<% provide :title, 'Hangouts' %>
<section class="live-hangouts">
  <div class="panel-group" id="accordion">
    <div class="panel panel-info hidden-xs">
      <div class="panel-heading">
        <%= render partial: 'index_header'  %>
      </div>
    </div>
    <% @hangouts.each_with_index do |hangout, index| %>
      <%# <% hangout.participants = [{ name: 'Yaro', gplus_id: '1'}, { name: 'Bob', gplus_id: '2'}] %>
      <% present hangout do |hangout_presenter| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= render partial: 'index_basic_info', locals: { hangout: hangout_presenter, index: index}  %>
          </div>
          <div id="<%= "collapse#{index}" %>" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= render partial: 'index_extra_info', locals: { hangout: hangout_presenter }  %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
<%=javascript_include_tag 'hangouts.js' %>
