<% provide :title, 'Hangouts' %>
<section class="live-hangouts">
  <div class='container-fluid'>
    <div class='row hg-toggles'>
        <button id="btn-hg-toggle" type="button" class="btn-hg-toggle">toggle summary</button>
        <%= link_to 'show all/live', params[:live] ? hangouts_path : hangouts_path(live: true), class: 'btn-hg-live' %>
    </div>
  </div>
  <div class="panel-group" id="accordion">
    <div class="panel panel-info hidden-xs">
      <div class="panel-heading">
        <%= render partial: 'index_header' %>
      </div>
    </div>
    <% if @hangouts.empty?  %>
      <div class="panel panel-default">
        <div class="panel-heading empty">
          We are sorry, but it seems that there are no live sessions at this moment.<br>
          Please come back later or click 'Show all/live' button to browse older sessions.
        </div>
      </div>
    <% else  %>
      <% @hangouts.each_with_index do |hangout, index| %>
        <% present hangout do |hangout_presenter| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= render partial: 'index_basic_info', locals: { hangout: hangout_presenter, index: index}  %>
            </div>
            <div id="<%= "collapse#{index}" %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= render partial: 'index_extra_info', locals: { hangout: hangout_presenter }  %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
<%=javascript_include_tag 'hangouts.js' %>
