<div class="container">
  <div class="col-sm-7">
    <div id="upper-section" class="row">
      <div class="footer-info col-xs-6 col-sm-4">
        <ul>
          <h3>Learn More</h3>
          <li><%= link_to 'About Us', static_page_path('About Us') %></li>
          <li><%= link_to 'Getting Started', static_page_path('Getting Started') %></li>
          <li><%= link_to 'Dashboard', dashboard_index_path %></li>
          <li><%= link_to 'Opportunities', static_page_path('Opportunities') %></li>
          <li><%= link_to 'Blog', 'http://nonprofits.agileventures.org/blog/' %> </li>
          <li><%= link_to 'Press Kit', 'http://www.agileventures.org/press-kit' %></li>
        </ul>
      </div>

      <div class="footer-info col-xs-6 col-sm-4">
        <ul>
          <h3>Social</h3>
          <li>
            <a class="facebook" href="https://www.facebook.com/agileventures" target="_blank" style="white-space: nowrap">
              <i class="fa fa-facebook fa-custom-social"></i>&nbsp;Facebook
            </a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/AgileVentures" target="_blank" style="white-space: nowrap">
              <i class="fa fa-twitter fa-custom-social"></i>&nbsp;Twitter
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-info col-xs-12 col-sm-4">
        <ul>
          <h3>Our Sponsors</h3>
          <li>
            <a href="https://standuply.com/?utm_source=links&utm_medium=agileventures&utm_campaign=partnership" target="_blank">Standup Bot</a>
          </li>
          <li>
            <a href="http://craftacademy.se/english" target="_blank">Craft Academy</a>
          </li>
          <li>
            <a href="http://mooqita.org/" target="_blank">Mooqita</a>
          </li>
          <li>
            <%= link_to 'Becoming a sponsor', static_page_path('Sponsors'), style: 'font-size: 0.9em;' %>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h3><img src="<%= image_path('av-logo-inverse.png') %>"/></h3>
      <p>AgileVentures - Crowdsourced Learning</p>
    </div>
  </div>

  <div class="col-sm-5 contact">
    <h3 class="footer_header">
      Contact us
    </h3>
    <p>Send a traditional email to <%= mail_to 'info@agileventures.org', 'info@agileventures.org' %>.</p>
    <p>We are a Charitable Incorporated Organisation (CIO) in the UK. Ref #1170963</p>
  </div>
</div>
