<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if content_for?(:description) %>
    <meta name="description" content="<%= yield(:description) %>">
  <% end %>
  <meta name="keywords" content="<%= "#{site_meta_keywords}#{ content_for?(:keywords) ? yield(:keywords) : ''}" %>">
  <% if content_for?(:author) %>
    <meta name="author" content="<%= yield(:author) %>">
  <% end %>
  <% if content_for?(:robots) %>
    <meta name="robots" content="<%= yield(:robots) %>">
  <% end %>
  <title><%= content_for?(:title) ? [ yield(:title),  ' | AgileVentures - WebsiteOne'].join(' ') : 'AgileVentures - WebsiteOne' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato:400,100,900' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Kreon:400,700' %>
  <%= stylesheet_link_tag 'application', '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <%= analytics_init if Rails.env.production? %>
</head>