<header id="main_header" class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <a class="navbar-brand" href="/"><img src="<%= image_path('av-logo-inverse.png') %>"></a>
      </div>
    </div>
  </div>
</header>
<!-- navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav-justified">
        <li><%= link_to 'About us', page_path('about_us') %></li>
        <li><%= link_to 'Our projects', projects_path %></li>
        <% unless user_signed_in? %>
            <li><%= link_to 'Log in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% else %>
            <li><%= link_to 'My Account', edit_user_registration_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render 'layouts/flash' %>


