<header id="main_header" class="masthead">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>"><img src="<%= image_path('av-logo-inverse.png') %>"></a>
    <div class="navbar-header navbar-inverse pull-right">

      <button type="button" class="navbar-toggle" id="navbar-toggle-mobile" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="account-controls" class="hidden-xs pull-right">
      <% if user_signed_in? %>
        <% present current_user do |presenter| %>
          <a href="<%= user_path(current_user) %>">
            <%= presenter.gravatar_image(size: 80, id: 'user-gravatar', class: 'img-circle') %>
          </a>
          <div class="dropdown">
            <a href="#" id="account-dropdown" data-toggle="dropdown">
              <%= presenter.display_name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="account-dropdown">
              <a href="<%= user_path(current_user) %>">
                <li>
                  <i class="fa fa-user fa-custom-accounts"></i>
                  My account</li>
              </a>
              <%= button_to destroy_user_session_path, method: :delete do %>
                <li>
                  <i class="fa fa-sign-out fa-custom-accounts">Log out</i>
                </li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% else %>
        <div id="login-signup">
          <%= link_to 'Log in', new_user_session_path %>
          <%= link_to 'Sign up', new_user_registration_path, id: 'signup' %>
        </div>
      <% end %>
    </div>
  </div>
</header>

<div class="navbar navbar-inverse navbar-static-top collapse navbar-collapse hidden-sm" id="nav">
  <div class="container">
    <div class="row">
      <div class="hidden-sm col-xs-3 col-md-2 navbar-brand-div">
        <a id="affix-nav-brand" class="navbar-brand" href="<%= root_path %>">
          <img src="<%= image_path('av-logo-inverse.png') %>">
        </a>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10">
        <div class="">
          <ul class="nav navbar-nav nav-justified">
            <li><%= link_to 'About', static_page_path('About Us'), class: is_in_static_page?('About Us') ? 'active' : ''%></li>
            <li><%= link_to 'Projects', projects_path, class: active_if_controller_is('projects') %></li>
            <li><%= link_to 'Members', users_path, class: active_if_controller_is('users') %></li>
            <li><%= link_to 'Get involved', static_page_path('Membership Plans'), class: active_if_controller_is('subscriptions') %></li>
            <li class="dropdown">
              <a href="#" id="events-dropdown" data-toggle="dropdown">Events
                <span class="caret"></span></a>
              <ul class="dropdown-menu custom_menu">
                <a class="custom_menu_link" href="<%= events_path %>">
                  <li>
                    <i class="fa fa-calendar-o custom_menu_item"></i>Upcoming events</li>
                </a>
                <a class="custom_menu_link" href="<%= scrums_path %>">
                  <li>
                    <i class="fa fa-play custom_menu_item"></i>Past events</li>
                </a>
              
                <a class="custom_menu_link" href="<%= new_event_path %>">
                  <li>
                    <i class="fa fa-users custom_menu_item"></i>Create event</li>
                </a>
              </ul>
            </li>
            <li><%= link_to 'Getting started', static_page_path('Getting started'), class: "#{is_in_static_page?('Getting started') ? 'active' : ''}" %></li>

            <li class="dropdown" id="google-search-dropdown">
              <a href="#" id="google_search" data-toggle="dropdown">
                <i class="fa fa-search"></i>
              </a>
              <ul class="dropdown-menu" id="google-search-wrapper">
                <% if Rails.env != 'test' %>
                  <script>
                    (function () {
                      var cx = '013004698248256241028:fzuo22ktbbo';
                      var gcse = document.createElement('script');
                      gcse.type = 'text/javascript';
                      gcse.async = true;
                      gcse.src = (
                        document.location.protocol == 'https:'
                          ? 'https:'
                          : 'http:'
                      ) + '//www.google.com/cse/cse.js?cx=' + cx;
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(gcse, s);
                    })();
                  </script>
                <% end %>
                <gcse:search></gcse:search>
              </ul>
            </li>

            <% if user_signed_in? %>
              <li class="visible-xs">
                <a href="<%= user_path(current_user) %>">
                  <i class="fa fa-user fa-custom-accounts"></i>
                  My account
                </a>
              </li>
              <li class="visible-xs">
              <!--
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
              -->
                <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow">
                  <i class="fa fa-sign-out fa-custom-accounts"></i>
                  Log out
                </a>
              </li>
            <% else %>
              <li class="visible-xs">
                <%= link_to 'Log in', new_user_session_path %>
              </li>
              <li class="visible-xs">
                <%= link_to 'Sign up', new_user_registration_path, id: 'signup' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% if @next_event %>
    <div
      class="hidden-sm hidden-xs hidden-md"
      id="next-event"
      data-event-time="<%= @next_event.next_occurrence_time_attr.to_datetime %>"
      data-event-url="<%= event_path(@next_event) %>"
      data-event-duration="<%= @next_event.duration %>"
      data-event-name="<%= current_user ? @next_event.name : 'Next projects review meeting - listen in to learn more about AgileVentures' %>"></div>
  <% end %>
  <%= render 'layouts/flash' %>
</div>