<h3>Current Projects</h3>
<ul id="sidebar">
  <% current_projects.each_with_index do |p, index| %>
    <% should_focus = project == p %>
    <% has_docs = p.documents.any? %>
    <li>
      <% if has_docs %>
        <a href="#collapse<%= index %>" class="collapse-button" data-toggle="collapse">
          <span class="glyphicon fa fa-caret-<%= has_docs and should_focus ? 'up' : 'down' %>"></span>
        </a>
      <% else %>
        <span class="glyphicon"></span>
      <% end %>
      <%= link_to p.title, project_path(p), class: should_focus ? 'focused' : '' %>
    </li>
    <% if has_docs %>
      <ul id="collapse<%= index %>" class="<%= project == p ? 'in' : 'collapse' %>">
        <% p.documents.roots.each do |d| %>
          <% doc_focus = (should_focus and (@document == d or @document.try(&:root) == d)) %>
          <li style="margin-left: 15px;"><span class="glyphicon"></span><%= link_to %Q{#{d.title}#{" (#{d.children.count})" unless
              d.children.empty?}}, project_document_path(p, {id: d.to_param}), class: doc_focus ? 'focused' : '' %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>