<ul id="project-list">
  <% @projects.each_with_index do |p, index| %>
    <% should_focus = project == p %>
    <% has_docs = p.documents.any? %>
    <% show_it = (p.status == 'active' || p.status == 'Active' ? true : false) %>
    <% content_tag :li, "", style: show_it ? '' : 'display: none;', class: show_it ? '' : 'inactive' %>
      <% if should_focus and document.nil? %>
        <p class="sidebar-selected"><%= p.title %></p>
      <% else %>
        <div style="display: flex">
            <% if has_docs %>
              <%= content_tag :a, '', href: '#collapse' + index.to_s, style: show_it ? '' : 'display: none;', class: show_it ? 'collapse-button' : 'inactive', 'data-toggle' => 'collapse' do -%>
                <i class="collapse-icon fa fa-caret-<%= has_docs and should_focus ? 'down' : 'right' %>"></i>
              <% end %>
            <% end -%>
          <%= link_to p.title, project_path(p), class: should_focus ? 'focused' : '', style: show_it ? '' : 'display: none;', class: show_it ? '' : 'inactive' %>
         </div>
      <% end %>
    </li>
    <% if has_docs %>
      <ul id="collapse<%= index %>" class="<%= project == p ? 'in' : 'collapse' %>" style="<%= show_it ? '' : 'display: none;' %>">
        <% p.documents.roots.each do |d| %>
          <% doc_focus = (should_focus and (document == d or document.try(&:root) == d)) %>
          <li>
            <% display_text = %Q{#{d.title}#{" (#{d.children.count})" unless d.children.empty?}} %>
            <% if doc_focus and document == d %>
              <p class="sidebar-selected"><%= display_text %></p>
            <% else %>
              <%= link_to display_text, project_document_path(p, {id: d.to_param}), class: doc_focus ? 'focused' : '' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>

