<div id="sponsorsBar" class="hidden-sm hidden-xs hidden-md" >
  <div class="gold sponsorsTier text-center">
    <h3>Supporters</h3>
    <ul>
      <li>
        <a href="https://drie.co/" class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="drie" src="<%= image_path('sponsors/drie.png') %>">
          </div>
        </a>
      </li>
      <li>
        <a href="http://craftacademy.se/english" target='new' class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="Craft Academy" src="<%= image_path('sponsors/craft_banner_2.png') %>">
          </div>
        </a>
      </li>
      <li>
        <a href="http://www.mentive.co/topics/?utm_campaign=coursepage&utm_medium=banner&utm_source=agileventures" target='new' class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="Mentive" src="<%= image_path('sponsors/mentive.jpg') %>">
          </div>
        </a>
      </li>
      <li>
        <a href="http://www.jetbrains.com/ruby/specials/rubymine/ruby_and_rails_ide.jsp" class="sponsorMedal">
          <div class="sponsorStandinMedal">
            <img alt="RubyMine 8" src="<%= image_path('sponsors/RubyMine_sidebar.png') %>">
          </div>
        </a>
      </li>
      <li>
        <span class="sponsorStandinMedal" id='ourSponsors'>
          <%= link_to 'Become a supporter', static_page_path('Sponsors'), class: 'btn btn-be-a-supporter'%>
        </span>
      </li>
    </ul>
  </div>
</div>
