<!DOCTYPE html>
<html>
<head>
  <title>WebsiteOne</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="header">
  <%= render 'layouts/navbar' %>
</section>
<div id="wrap">
  <section id="main">
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </section>
  <div id="push"></div>
</div>
<section id="footer">
  <%= render 'layouts/footer' %>
</section>

</body>
</html>
