<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>

<body lang="en-GB">

<div id="wrap">
  <%= render 'layouts/navbar' %>
  <div id="main">
    <% if current_page? root_path %>
      <%= yield %>
    <% elsif content_for?(:content) %>
      <div class="container" id="with-sidebar-container">
        <%= yield(:content) %>
      </div>
    <% else %>
      <div class="container">
        <div class="col-lg-9">
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <%= render 'layouts/sponsors' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<footer id="footer">
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
