<!DOCTYPE html>
<html>
  
  <%= render 'layouts/head' %>

  <% if flash[:user_signup] %>
    <%= render 'layouts/adwords_signup_conversion' %>
  <% end %>

  <body lang="en-GB">

    <div id="wrap">
      <%= render 'layouts/navbar' %>
      <div id="main">
        <% if current_page? root_path %>
          <%= yield %>
          <% elsif content_for?(:content) %>
            <div class="container" id="with-sidebar-container">
              <div class="row">
                <%= yield(:content) %>
              </div>
            </div>
          <% else %>
            <div class="container">
              <div class="col-lg-9">
                <%= yield %>
              </div>
              <div class="col-lg-3">
                <%= render 'layouts/sponsors' %>
              </div>
            </div>
          <% end %>
        </div>
        <% if current_user && current_user.incomplete? && new_user_session_url == request.referrer %>
          <%= render 'layouts/require_users_profile' %>
        <% end %>
      </div>
      <%= render 'layouts/cookies_banner' if session[:cookies_accepted].nil?  %>

      <footer id="footer">
        <%= render 'layouts/footer' %>
      </footer>

    </body>
  </html>