<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? [ yield(:title),  ' | AgileVentures - WebsiteOne'].join(' ') : 'AgileVentures - WebsiteOne' %></title>
  <%= render 'layouts/meta_tags' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato:400,100,900' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Kreon:400,700' %>
  <%= stylesheet_link_tag 'application', '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <%= analytics_init if Rails.env.production? %>

</head>
<body>
<%= render 'layouts/navbar' %>
<div id="wrap">
  <section id="main" >
    <% if current_page? root_path %>
      <%= yield %>
    <% elsif content_for?(:content) %>
      <div class="container" id="with-sidebar-container">
        <%= yield(:content) %>
      </div>
    <% else %>
      <div class="container">
        <div class="col-lg-9">
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <%= render 'layouts/sponsors' %>
        </div>
      </div>
    <% end %>
  </section>
  <div id="push"></div>
</div>
<section id="footer">
  <%= render 'layouts/footer' %>
</section>



<script>
  /* highlight the top nav as scrolling occurs */
  $('body').scrollspy({ target: '#nav' })

  /* smooth scrolling for scroll to top */
  $('.scroll-top').click(function () {
    $('body,html').animate({scrollTop: 0}, 1000);
  })

  /* smooth scrolling for nav sections */
  $('#nav .navbar-nav li>a').click(function () {
    var link = $(this).attr('href');
    var posi = $('a[href="'+link+'"]').offset().top + 20;
    $('body,html').animate({scrollTop: posi}, 700);
  })
</script>

</body>
</html>
