<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>

<div id="wrap">
  <%= render 'layouts/navbar' %>
  <% if current_page? root_path %>
    <%= yield %>
  <% elsif content_for?(:content) %>
    <div class="container" id="with-sidebar-container">
      <%= yield(:content) %>
    </div>
  <% else %>
    <div class="container">
      <div class="col-lg-9">
        <%= yield %>
      </div>
      <div class="col-lg-3">
        <%= render 'layouts/sponsors' %>
      </div>
    </div>
  <% end %>
</div>
<section id="footer">
  <%= render 'layouts/footer' %>
</section>

</body>
</html>
