<%= content_for :content do %>
  
    <aside class="col-sm-3">
      <nav id="sidebar" role="complementary">
        <%= render partial: 'layouts/sidebar', locals: { project: @project, document: @document } %>
      </nav>
    </aside>
    <div id="not-sidebar" class="col-sm-6">
      <div id="not-sidebar-content">
       <%= yield %>
     </div>
    </div>
    <div class="col-sm-3 pull-right">
      <%= render partial: 'layouts/sponsors' %>
    </div>

<% end %>
<%= render template: 'layouts/application' %>